@import '../../../sass/global_variables';
@import '../../../sass/elements/tile';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.vehicles {
  &__items {
    display: flex;
    padding-top: 20px;
  }

  &__number {
    margin-left: 10px;
    font-size: 16px;
  }

  &__actions {
    display: flex;
  }
}

:host-context(.dark-theme) {
  .tile__headline {
    border-color: #262647;
  }

  .tile__title {
    color: $color__white--90;
  }
}
