@import '../../sass/global_variables';
@import '../../sass/elements/button';
@import '../../sass/elements/forms';

.login-register-tabs {
  display: flex;
  margin-bottom: 20px;

  &__title {
    margin-right: 50px;
    font-size: 26px;
    color: #fff;
    cursor: pointer;

    &--active {
      color: $color__pink--primary;
    }
  }
}

.login-form {
  &__input {
    margin-bottom: 20px;
  }

  &__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--buttons {
      margin-top: 30px;
    }

    &--buttons-social {
      .login-form__button {
        margin-left: 15px;
      }
    }
  }

  &__button {
    width: auto;
  }

  &__forgot {
    color: white;
  }
}
