<div class="displayTable">
  <div class="displayTableCell">

    <div class="login-register-tabs">
      <h3 class="login-register-tabs__title link" [ngClass]="{'login-register-tabs__title--active': isLoginFormVisible}" (click)="changeFromLoginToRegister()">Prijava</h3>
      <h3 class="login-register-tabs__title link" [ngClass]="{'login-register-tabs__title--active': !isLoginFormVisible}" (click)="changeFromRegisterToLogin()">Registracija</h3>
    </div>

    <div *ngIf="isRegisterNotificationVisible" class="register__notification">
      <p>Uspešno ste se registrirali.</p>
      <p>Za zaključek registracije preverite svoj elektronski poštni nabiralnik in potrdite registracjo.</p>
    </div>

    <div *ngIf="isLoginFormVisible" class="login-form" [@formEnterAnimation]>
      <div class="login-form__input form__input">
        <mat-form-field [floatLabel]="'never'"  class="login-form__field form__field">
          <input matInput type="text" class="formControl" placeholder="Email" #userName required>
        </mat-form-field>
      </div>

      <div class="login-form__input form__input">
        <mat-form-field [floatLabel]="'never'"  class="login-form__field form__field">
          <input matInput type="password" class="formControl" placeholder="Geslo" #userPassword required>
        </mat-form-field>
      </div>

      <div class="login-form__group login-form__group--buttons">
        <!-- Calling SignIn Api from AuthService -->
        <div class="login-form__button">
          <button type="button" mat-raised-button class="button button--primary" value="Prijava" (click)="authService.EmailSignIn(userName.value, userPassword.value)">Prijava</button>
        </div>

        <div class="login-form__group login-form__group--buttons-social">
          <!-- Calling GoogleAuth Api from AuthService -->
          <div class="login-form__button">
            <button type="button" mat-raised-button class="button button--white" (click)="authService.GoogleAuth()">
              <div class="button__icon button__icon--social button__icon--google"></div>
            </button>
          </div>

          <!-- Calling FacebookAuth Api from AuthService -->
          <div class="login-form__button">
              <button type="button" mat-raised-button class="button button--white" (click)="authService.FacebookAuth()">
                <div class="button__icon button__icon--social button__icon--facebook"></div>
              </button>
            </div>

          <!-- Calling GithubAuth Api from AuthService -->
          <div class="login-form__button">
            <button type="button" mat-raised-button class="button button--white" (click)="authService.GithubAuth()">
              <div class="button__icon button__icon--social button__icon--github"></div>
            </button>
          </div>
        </div>
      </div>

      <div class="login-form__forgot">
        <p routerLink="/forgot-password">Ste pozabili geslo?</p>
      </div>
    </div>

    <div *ngIf="!isLoginFormVisible" class="register-form" [@formEnterAnimation]>

      <div class="login-form__input form__input">
        <mat-form-field [floatLabel]="'never'"  class="login-form__field form__field">
          <input matInput type="text" class="formControl" placeholder="Email" #emailForRegistration required>
        </mat-form-field>
      </div>

      <div class="login-form__input form__input">
        <mat-form-field [floatLabel]="'never'"  class="login-form__field form__field">
          <input matInput type="password" class="formControl" placeholder="Geslo" #userPasswordForRegistration required>
        </mat-form-field>
      </div>

      <div class="login-form__group login-form__group--buttons">
        <!-- Calling SignIn Api from AuthService -->
        <div class="login-form__button">
          <button type="button" mat-raised-button class="button button--primary" value="Registracija" (click)="registerWithEmail(emailForRegistration.value, userPasswordForRegistration.value)">Registracija</button>
        </div>

        <div class="login-form__group login-form__group--buttons-social">
          <!-- Calling GoogleAuth Api from AuthService -->
          <div class="login-form__button">
            <button type="button" mat-raised-button class="button button--white" (click)="authService.GoogleAuth()">
              <div class="button__icon button__icon--social button__icon--google"></div>
            </button>
          </div>

          <!-- Calling FacebookAuth Api from AuthService -->
          <div class="login-form__button">
              <button type="button" mat-raised-button class="button button--white" (click)="authService.FacebookAuth()">
                <div class="button__icon button__icon--social button__icon--facebook"></div>
              </button>
            </div>

          <!-- Calling GithubAuth Api from AuthService -->
          <div class="login-form__button">
            <button type="button" mat-raised-button class="button button--white" (click)="authService.GithubAuth()">
              <div class="button__icon button__icon--social button__icon--github"></div>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
