<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Prijava</h3>

      <div class="form__input">
        <mat-form-field [floatLabel]="'never'"  class="form__field">
          <input matInput type="text" class="formControl" placeholder="Uporabniško ime" #userName required>
        </mat-form-field>
      </div>

      <div class="form__input">
        <mat-form-field [floatLabel]="'never'"  class="form__field">
          <input matInput type="password" class="formControl" placeholder="Geslo" #userPassword required>
        </mat-form-field>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <button type="button" mat-raised-button class="button button--default" value="Prijava" (click)="authService.SignIn(userName.value, userPassword.value)">Prijava</button>
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" mat-raised-button class="button button--default" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <!-- Calling FacebookAuth Api from AuthService -->
      <div class="formGroup">
          <button type="button" mat-raised-button class="button button--default" (click)="authService.FacebookAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Facebook
          </button>
        </div>

      <!-- Calling GithubAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" mat-raised-button class="button button--default" (click)="authService.GithubAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Github
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>

  </div>
</div>
