<div class="displayTable">
  <div class="displayTableCell">

    <div class="login-register-tabs">
      <h3 class="login-register-tabs__title" [ngClass]="{'login-register-tabs__title--active': isLoginFormVisible}" (click)="changeFromLoginToRegister()">Prijava</h3>
      <h3 class="login-register-tabs__title" [ngClass]="{'login-register-tabs__title--active': !isLoginFormVisible}" (click)="changeFromRegisterToLogin()">Registracija</h3>
    </div>

    <div *ngIf="isLoginFormVisible" class="login-form" [@formEnterAnimation]>
      <div class="login-form__input form__input">
        <mat-form-field [floatLabel]="'never'"  class="login-form__field form__field">
          <input matInput type="text" class="formControl" placeholder="Uporabniško ime" #userName required>
        </mat-form-field>
      </div>

      <div class="login-form__input form__input">
        <mat-form-field [floatLabel]="'never'"  class="login-form__field form__field">
          <input matInput type="password" class="formControl" placeholder="Geslo" #userPassword required>
        </mat-form-field>
      </div>

      <div class="login-form__group login-form__group--buttons">
        <!-- Calling SignIn Api from AuthService -->
        <div class="login-form__button">
          <button type="button" mat-raised-button class="button button--primary" value="Prijava" (click)="authService.SignIn(userName.value, userPassword.value)">Prijava</button>
        </div>

        <div class="login-form__group login-form__group--buttons-social">
          <!-- Calling GoogleAuth Api from AuthService -->
          <div class="login-form__button">
            <button type="button" mat-raised-button class="button button--primary" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              Google
            </button>
          </div>

          <!-- Calling FacebookAuth Api from AuthService -->
          <div class="login-form__button">
              <button type="button" mat-raised-button class="button button--primary" (click)="authService.FacebookAuth()">
                <i class="fab fa-google-plus-g"></i>
                Facebook
              </button>
            </div>

          <!-- Calling GithubAuth Api from AuthService -->
          <div class="login-form__button">
            <button type="button" mat-raised-button class="button button--primary" (click)="authService.GithubAuth()">
              <i class="fab fa-google-plus-g"></i>
              Github
            </button>
          </div>
        </div>
      </div>

      <div class="login-form__forgot">
        <p routerLink="/forgot-password">Ste pozabili geslo?</p>
      </div>
    </div>

    <div *ngIf="!isLoginFormVisible" class="register-form" [@formEnterAnimation]>

      <section class="form__row form__row--2-input-fields form__row--last">
        <div class="login-form__input form__input">
          <mat-form-field [floatLabel]="'never'"  class="login-form__field form__field">
            <input matInput type="text" class="formControl" placeholder="Ime" #name required>
          </mat-form-field>
        </div>

        <div class="login-form__input form__input form__input--space-left">
          <mat-form-field [floatLabel]="'never'"  class="login-form__field form__field">
            <input matInput type="text" class="formControl" placeholder="Priimek" #lastName required>
          </mat-form-field>
        </div>
      </section>

      <div class="login-form__input form__input">
        <mat-form-field [floatLabel]="'never'"  class="login-form__field form__field">
          <input matInput type="text" class="formControl" placeholder="Uporabniško ime" #userName required>
        </mat-form-field>
      </div>

      <div class="login-form__input form__input">
        <mat-form-field [floatLabel]="'never'"  class="login-form__field form__field">
          <input matInput type="password" class="formControl" placeholder="Geslo" #userPassword required>
        </mat-form-field>
      </div>

      <div class="login-form__group login-form__group--buttons">
        <!-- Calling SignIn Api from AuthService -->
        <div class="login-form__button">
          <button type="button" mat-raised-button class="button button--primary" value="Prijava" (click)="authService.SignIn(userName.value, userPassword.value)">Prijava</button>
        </div>

        <div class="login-form__group login-form__group--buttons-social">
          <!-- Calling GoogleAuth Api from AuthService -->
          <div class="login-form__button">
            <button type="button" mat-raised-button class="button button--primary" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              Google
            </button>
          </div>

          <!-- Calling FacebookAuth Api from AuthService -->
          <div class="login-form__button">
              <button type="button" mat-raised-button class="button button--primary" (click)="authService.FacebookAuth()">
                <i class="fab fa-google-plus-g"></i>
                Facebook
              </button>
            </div>

          <!-- Calling GithubAuth Api from AuthService -->
          <div class="login-form__button">
            <button type="button" mat-raised-button class="button button--primary" (click)="authService.GithubAuth()">
              <i class="fab fa-google-plus-g"></i>
              Github
            </button>
          </div>
        </div>
      </div>

      <div class="login-form__forgot">
        <p routerLink="/forgot-password">Ste pozabili geslo?</p>
      </div>
    </div>

  </div>
</div>
