@import '../../sass/global_variables';
@import '../../sass/elements/button';

$home-background-elements__top: 55%;

@keyframes sun-glowing {
  0%   {
    transform: scale(0.8);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: scale(1.2);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: scale(0.8);
    animation-timing-function: ease-in-out;
  }
}

@keyframes sun-grow {
  0%   {
    transform: scale(0.9);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: scale(1.1);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: scale(0.9);
    animation-timing-function: ease-in-out;
  }
}

@keyframes van-moving-up-down {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }

  25% {
    transform: translateY(2px);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translateY(4px);
    animation-timing-function: ease-in-out;
  }

  60% {
    transform: translateY(6px);
    animation-timing-function: ease-in-out;
  }

  75% {
    transform: translateY(2px);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
}

@keyframes van-shadow-moving {
  0% {
    transform: scale(1) translateY(0);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: scale(1.1) translateY(10px);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: scale(1) translateY(0);
    animation-timing-function: ease-in-out;
  }
}

@keyframes van-light {
  0% {
    transform: scale(1) translateX(0);
    animation-timing-function: ease-in-out;
    opacity: 0.5;
  }

  50% {
    transform: scale(2) translateX(5%);
    animation-timing-function: ease-in-out;
    opacity: 0.3;
  }

  100% {
    transform: scale(1) translateX(0);
    animation-timing-function: ease-in-out;
    opacity: 0.5;
  }
}

@keyframes van-luggage-moving-1 {
  0% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translateY(5px) rotate(3deg);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: ease-in-out;
  }
}

@keyframes van-luggage-moving-2 {
  0% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: ease-in-out;
  }

  30% {
    transform: translateY(8px) rotate(-2deg);
    animation-timing-function: ease-in-out;
  }

  40% {
    transform: translateY(-8px) rotate(0deg);
    animation-timing-function: ease-in-out;
  }

  60% {
    transform: translateY(5px) rotate(-2deg);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translateY(0) rotate(0deg);
    animation-timing-function: ease-in-out;
  }
}

@keyframes moving-road {
  0%   {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

:host {
  display: flex;
  flex-grow: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.home {
  &__background {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &-half {
      display: block;
      height: 50%;
      width: 100%;

      &--top {
        background-color: rgb(150, 234, 254);
        background-image: linear-gradient(180deg, rgba(150, 234, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
        opacity: 0.2;
      }

      &--bottom {
        background-color: rgb(46, 53, 97);
        background-image: linear-gradient(180deg, rgba(38, 45, 96, 1) 0%, rgba(75, 35, 89, 1) 100%);
      }
    }
  }

  &__mountains {
    position: absolute;
    top: $home-background-elements__top;
    width: 100%;
    height: 300px;
    margin-top: -300px;
    background-repeat: repeat-x;
  }

  &__mountains-container {
    width: 100%;
    height: 100%;
    animation: moving-road 150s infinite;
    animation-timing-function: linear;
  }

  &__mountains-image {
    width: 200%;
    height: 100%;
    background-image: url("/../../../assets/graphics/webpage/graphic-mountains.png");
    background-repeat: repeat-x;
  }

  &__road {
    position: absolute;
    top: $home-background-elements__top;
    width: 100%;
    height: 50%;
    overflow: hidden;
  }

  &__road-container {
    width: 100%;
    height: 100%;
    animation: moving-road 50s infinite;
    animation-timing-function: linear;
  }

  &__road-image {
    width: 200%;
    height: 100%;
    background-image: url("/../../../assets/graphics/webpage/graphics-road.png");
    background-repeat: repeat-x;
    opacity: 0.4;
  }

  &__grass {
    position: absolute;
    top: $home-background-elements__top;
    width: 100%;
    height: 300px;
    margin-top: -300px;
    background-repeat: repeat-x;
  }

  &__grass-container {
    width: 100%;
    height: 100%;
    animation: moving-road 400s infinite;
    animation-timing-function: linear;
  }

  &__grass-image {
    width: 200%;
    height: 100%;
    background-image: url("/../../../assets/graphics/webpage/graphic-grass.png");
    background-repeat: repeat-x;
  }

  &__sun {
    position: absolute;
    top: 18%;
    left: 70%;
    width: 120px;
    height: 120px;
    margin-top: -55px;

    &::before {
      content: '';
      position: absolute;
      left: -60px;
      top: -60px;
      width: 100%;
      height: 100%;
      padding: 60px;
      background-image: radial-gradient(circle, rgba(255, 241, 115, 1) 0%, rgba(255, 255, 255, 0) 70%);
      border-radius: 50%;
      animation: sun-glowing 10s forwards infinite;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #FFF173;
      border: 2px solid #242B61;
      border-radius: 50%;
      animation: sun-grow 20s forwards infinite;
    }
  }

  &__van-luggage {
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    margin-top: -27px;
  }

  &__van-luggage-case {
    position: relative;
    top: 0;

    &--white {
      margin-right: 4%;
      animation: van-luggage-moving-1 4s forwards infinite;
    }

    &--pink {
      animation: van-luggage-moving-2 6s forwards infinite;
    }
  }

  &__van-light {
    position: absolute;
    right: -80px;
    top: 42%;
    height: 150px;
    width: 250px;
    //background-color: #FFE230;
    background-image: radial-gradient(ellipse at center right, rgba(255, 226, 48, 100%) 0, rgba(255, 226, 48, 0) 50%);
    -webkit-mask-image: linear-gradient(to left, transparent 0, black 15%);
    animation: van-light 20s forwards infinite;
  }

  &__van {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-top: -130px;
    margin-left: 0;
    transition: width 300ms ease-in-out, top 300ms ease-in-out, left 300ms ease-in-out, margin-left 300ms ease-in-out;

    &--enter-animation-done {
      animation: van-moving-up-down 6s forwards infinite;
    }
  }

  &__van-svg {
    width: 100%;
    height: auto;
    position: relative;
  }

  &__van-shadow {
    position: absolute;
    bottom: -8%;
    width: 100%;
    height: 80px;
    opacity: 0.7;
    background-image: radial-gradient(ellipse, rgba(0, 20, 40, 1) 0%, rgba(0, 20, 40, 0) 70%);
    animation: van-shadow-moving 10s forwards infinite;
  }

  &__main-content {
    display: flex;
    align-items: center;
    height: 50%;
  }

  &__main-content-wrapper {
    width: 50%;
  }

  &__footer {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    color: $color__white--100;
  }
}

@media only screen and (max-width: 760px) {
  .home__main-content-wrapper {
    width: 100%;
    text-align: center;
  }

  .home__sun {
    width: 80px;
    height: 80px;
  }

  .home__van {
    left: 50%;
    top: 60%;
    width: 400px;
    margin-left: -200px;
  }

  .home__footer {
    bottom: 3%;
  }
}

@media only screen and (max-width: 450px) {
  .home__main-content-wrapper {
    width: 100%;
  }

  .home__van {
    left: 50%;
    top: 60%;
    width: 80%;
    margin-left: -40%;
  }
}
