@import '../../sass/global_variables.scss';
@import '../../sass/global_elements.scss';

.popup {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__headline {
    color: $color__blue--primary;
    margin-top: 0;
  }

  &__close {
    cursor: pointer;
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
  margin: 0;
}
