@import '../../sass/global_variables';
@import '../../sass/elements/global_button';
@import '../../sass/elements/global_forms';
@import '../../sass/elements/global_dialog';

.popup {
  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__headline {
    color: $color__blue--primary;
    margin-top: 0;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: $color__blue--lightest;
    }
  }

  &__close-icon {
    fill: $color__blue--primary;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 230px;
    opacity: 0.3;
    background-position: center;
    background-size: cover;

    &--gradient {
      background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(200,214,241,1) 100%);
    }

    &--alfa-romeo {
      background-image: url("/../../../assets/graphics/brands/background-alfa-romeo.jpg");
    }

    &--audi {
      background-image: url("/../../../assets/graphics/brands/background-audi.jpg");
    }

    &--citroën {
      background-image: url("/../../../assets/graphics/brands/background-citroen.jpg");
    }
  }
}
