<div class="popup__background popup__background--vehicle-brand popup__background--{{selectedBrandDataWithoutSpaces | lowercase}}"></div>
<div class="popup__background popup__background--gradient"></div>

<div class="popup__header">
  <h2 class="popup__headline">Dodajanje novega vozila</h2>
  <app-button-icon class="popup__close"
                   [buttonTooltipText]="'Zapri'"
                   [buttonTooltipPosition]="'left'"
                   (clicked)="onCloseCancel()">
    <svg class="popup__close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
      <path d="M0 0h24v24H0z" fill="none" />
    </svg>
  </app-button-icon>
</div>

<app-vehicle-tile *ngIf="isDialogOpen"
                  class="vehicle-tile--single vehicle-tile--centered"
                  @vehicleEnterAnimation
                  [vehicleType]="selectedTypeData"
                  [vehicleColor]="selectedColorData"
                  [vehicleTextVisible]="false"></app-vehicle-tile>

<mat-dialog-content>
  <form [formGroup]="createForm" class="create-form">

    <section class="form__row form__row--2-input-fields form__row--inputs-with-space">
      <div class="form__input">
        <label class="form__label">Tip</label>
        <mat-form-field [floatLabel]="'never'"  class="form__field">
          <mat-select matInput placeholder="Tip"
                      formControlName="vehicleType"
                      name="vehicleType"
                      #vehicleType
                      (selectionChange)="selectedVehicleType($event)">
            <mat-option *ngFor="let type of getVehicleTypes()"
                        [value]="type.id">
              {{type.vehicleType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form__input">
        <label class="form__label">Barva</label>
        <mat-form-field [floatLabel]="'never'"  class="form__field">
          <mat-select matInput
                      placeholder="Barva"
                      class="mat-select mat-select--vehicle-color mat-select--{{selectedColorData | lowercase}}" formControlName="vehicleColor"
                      #vehicleColor
                      (selectionChange)="selectedVehicleColor($event)">
            <mat-option *ngFor="let color of getVehicleColors()"
                        class="mat-option mat-option--vehicle-color mat-option--{{color.id | lowercase}}"
                        [value]="color.id">
              {{color.vehicleColor}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </section>

    <section class="form__row form__row--2-input-fields form__row--inputs-with-space">
      <div class="form__input">
        <label class="form__label">Znamka</label>
        <mat-form-field [floatLabel]="'never'"  class="form__field">
          <mat-select matInput placeholder="Znamka"
                      formControlName="vehicleBrand"
                      #vehicleBrand
                      (selectionChange)="selectedVehicleBrand($event)">
            <mat-option *ngFor="let brand of getVehicleBrands()" [value]="brand.vehicleBrand">
              {{brand.vehicleBrand}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form__input">
        <label class="form__label">Ime</label>
        <mat-form-field [floatLabel]="'never'" class="form__field">
          <input matInput placeholder="Ime" formControlName="vehicleName" #vehicleName>
        </mat-form-field>
      </div>
    </section>

    <section class="form__row form__row--3-input-fields form__row--inputs-with-space">
      <div class="form__input">
        <label class="form__label">Število sedežev</label>
        <app-number-picker class="form__seats-input"
                           [min]="1"
                           [max]="10"
                           [step]="1"
                           [precision]="1"
                           [inputDisabled]="false"
                           [inputValueNumber]="inputSeatsValueNumber"
                           (change)="onNumberOfSeatsChanged($event)"></app-number-picker>
      </div>

      <!--<div class="form__input">
        <label class="form__label">Največja količina prtljage</label>
        <app-number-picker class="form__luggage-input"
        [min]="0"
        [max]="50"
        [step]="1"
        [precision]="1"
        [inputDisabled]="false"
        [inputValueNumber]="inputLuggageValueNumber"
        (change)="onNumberOfLuggageChanged($event)"></app-number-picker>
      </div>-->

      <div class="form__input">
        <label class="form__label">Leto proizvodnje</label>
        <mat-form-field [floatLabel]="'never'"  class="form__field">
          <mat-select matInput placeholder="Leto proizvodnje"
                      formControlName="vehicleModelYear"
                      #vehicleModelYear
                      (selectionChange)="selectedYearModel($event)">
            <mat-option *ngFor="let year of getVehicleYearModel()" [value]="year.vehicleYear">
              {{year.vehicleYear}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </section>

    <section class="form__row">
      <mat-checkbox matInput
                    formControlName="vehicleInsurance"
                    (change)="vehicleInsuranceChange()">
        Imam nezgodno zavarovanje za potnike v tem vozilu.</mat-checkbox>
    </section>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button class="button button--default" (click)="onCloseCancel()">Prekliči</button>
  <button *ngIf="authService.user$ | async as user" mat-raised-button class="button button--primary"
    (click)="addVehicle(
      user.uid,
      selectedTypeData,
      vehicleBrand.value,
      vehicleName.value,
      vehicleModelYear.value,
      vehicleColor.value,
      vehicleSeatsValue,
      vehicleLuggageValue,
      isVehicleInsuranceChecked)">Dodaj novo vozilo</button>
</mat-dialog-actions>