@import '../../sass/global_variables';

:host {
  display: flex;
  flex-grow: 1;
  height: 44px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-number-picker {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  background-color: #EDF1F8;
  color: $color__white--60;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 3px;
    border: 2px solid $color__blue--default;
    transition: opacity 200ms ease-in-out;
    opacity: 0;
    content: '';
  }

  &--active,
  &.mat-focused,
  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &--active {
    color: $color__blue--primary;
  }

  &__input {
    @include font-titillium-semibold;
    display: flex;
    flex-grow: 1;
    position: relative;
    padding: 14px 0 14px 14px;
    background-color: transparent;
    border: 0 none;
    color: $color__blue--primary;
  }

  &__button {
    display: flex;
    align-content: center;

    .button {
      min-width: 34px;
      padding: 0;
    }

    &__icon {
      width: 20px;
      height: 20px;
    }
  }
}
