@import '../../sass/global_variables';

$header__shadow-color: rgba(38, 42, 77, .3); // #262A4D

.user {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__avatar {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid $color__white--70;
    margin-right: 20px;
    overflow: hidden;

    &-image {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 190px;
      height: 190px;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__username {
    font-size: 30px;
    font-weight: bold;
  }

  &__avatar-name {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
  }

  &__email {
    font-size: 20px;
  }
}
