<table *ngIf="isVehicleListEmpty(); else emptyVehicleList" mat-table [dataSource]="vehicles">
  <ng-container matColumnDef="vehicleType">
    <th mat-header-cell *matHeaderCellDef>vehicleType</th>
    <td mat-cell *matCellDef="let element"> {{ element.vehicleType }} </td>
  </ng-container>

  <ng-container matColumnDef="vehicleBrand">
    <th mat-header-cell *matHeaderCellDef>vehicleBrand</th>
    <td mat-cell *matCellDef="let element"> {{ element.vehicleBrand }} </td>
  </ng-container>

  <ng-container matColumnDef="vehicleName">
    <th mat-header-cell *matHeaderCellDef>vehicleName</th>
    <td mat-cell *matCellDef="let element"> {{ element.vehicleName }} </td>
  </ng-container>

  <ng-container matColumnDef="vehicleModelYear">
    <th mat-header-cell *matHeaderCellDef>vehicleModelYear</th>
    <td mat-cell *matCellDef="let element"> {{ element.vehicleModelYear }} </td>
  </ng-container>

  <ng-container matColumnDef="vehicleColor">
    <th mat-header-cell *matHeaderCellDef>vehicleColor</th>
    <td mat-cell *matCellDef="let element"> {{ element.vehicleColor }} </td>
  </ng-container>

  <ng-container matColumnDef="vehicleSeats">
    <th mat-header-cell *matHeaderCellDef>vehicleSeats</th>
    <td mat-cell *matCellDef="let element"> {{ element.vehicleSeats }} </td>
  </ng-container>

  <ng-container matColumnDef="vehicleMaxLuggage">
    <th mat-header-cell *matHeaderCellDef>vehicleMaxLuggage</th>
    <td mat-cell *matCellDef="let element"> {{ element.vehicleMaxLuggage }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="editVehicle(element._id)">Edit</button>
      <button mat-button color="warn" (click)="deleteVehicle(element._id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #emptyVehicleList>
  <div class="vehicle-list__empty-container">
    <img src="/assets/icons/icon-empty-vehicle-list.svg" />
    <p>Tvoja garaža je še vedno prazna.</p>
  </div>
</ng-template>
