@import '../../sass/global_variables';
@import '../../sass/elements/tile';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.vehicles {
  &__items {
    padding-top: 20px;
  }

  &__number {
    margin-left: 10px;
    font-size: 16px;
  }
}