@import '../../sass/global_variables';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mat-table {
  width: 100%;
}

.mat-row {
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $color__blue-grey--light;
  }
}

.vehicle-list {
  padding: 30px;
}
