@import '../../sass/elements/button';

$button__hover-background: rgba(207, 216, 232, 0.3);
$button__hover-background--dark-theme: rgba(15, 7, 35, 0.7);

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 36px;
  height: 36px;
  user-select: none;
  outline: none;
  border-radius: 50%;
  padding: 0;
  background: none;
  border: 0 none;
  cursor: pointer;

  &:hover {
    .button__background {
      transform: scale(1);
      background-color: $button__hover-background;
    }
  }

  &--clicked {
    .button__content {
      transform: scale(0.9);
    }
  }

  &--dark-theme {
    &:hover {
      .button__background {
        background-color: $button__hover-background--dark-theme;
      }
    }
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.5);
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 200ms ease-in-out, transform 250ms ease-in-out;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 250ms ease-in-out;
  }
}
