<div class="webpage-login__background"></div>
<app-content class="webpage-login__wrapper">
  <div class="webpage-login__headline">
    <div routerLink="/nadzorna-plosca" class="login-register-content__logo login-register-content__logo--white">
      <app-logo routerLink="/home" [logoType]="'white'"></app-logo>
    </div>
    <div class="webpage-login__close" (click)="openLoginRegisterOverlay()">
      <svg class="webpage-login__close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </div>
  </div>
  <div class="webpage-login">
    <app-login-register-content *ngIf="isLoginFormVisible" class="webpage-login__content webpage-login__content--text" [@formChangeEnterAnimation]>
      <h2 login-register-content-title>Pozdravljeni nazaj!</h2>
      <div login-register-content-text class="webpage-login__text">
        <p>Še nimate uporabniškega računa?</p>
        <p><span class="webpage-login__link link" (click)="changeFromRegisterToLogin()">Registrirajte se</span> čimprej in popestrite svoja potovanja.</p>
      </div>
    </app-login-register-content>

    <app-login-register-content *ngIf="!isLoginFormVisible" class="webpage-login__content webpage-login__content--text" [@formChangeEnterAnimation]>
      <h2 login-register-content-title>Le še korak do zabavnega potovanja.</h2>
      <div login-register-content-text class="webpage-login__text">
        <p>Že imate račun?</p>
        <p><span class="webpage-login__link link" (click)="changeFromLoginToRegister()">Prijavite se</span> čimprej in popestrite svoja potovanja.</p>
      </div>
    </app-login-register-content>
    <app-login class="webpage-login__content webpage-login__content--form"></app-login>
  </div>
  <app-footer class="webpage-login__footer" [footerStyle]="'white'"></app-footer>
</app-content>
