@import '../../sass/global_variables.scss';

:host {
  height: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    list-style: none;
    cursor: pointer;
    outline: none;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

    &:hover {
      color: $color__blue--darker;

      .menu__item-wrapper {
        background-color: rgba(207, 216, 232, 0.3);
      }
    }

    &--active {
      color: $color__pink--primary;

      &:hover {
        color: $color__pink--primary;
      }
    }
  }

  &__item-wrapper {
    display: flex;
    align-items: center;
    padding: 7px 14px;
    border-radius: 4px;
    transition: background-color 200ms ease-in-out;
  }

  &__item-icon-wrapper {
    position: relative;
    margin-right: 10px;

    &--control-panel {
      height: 18px;
      width: 18px;

      .menu__item-icon--active-bg {
        width: 100%;
        height: 100%;
        background-color: $color__pink--primary;
        clip-path: polygon(50% 0%, 100% 45%, 100% 100%, 0 100%, 0% 45%);
      }

      .menu__item-icon--front {
        background-image: url("/../../../assets/icons/icon-menu-control-panel.svg");
      }
    }

    &--my-vehicles {
      width: 32px;
      height: 16px;

      .menu__item-icon--active-bg {
        width: 100%;
        height: 12px;
        background-color: $color__pink--primary;
        clip-path: polygon(0% 55%, 22% 0%, 54% 0%, 71% 46%, 100% 68%, 110% 100%, 83% 85%, 75% 77%, 72% 100%, 34% 100%, 24% 78%, 24% 69%, 12% 100%, 5% 100%);
      }

      .menu__item-icon--front {
        background-image: url("/../../../assets/icons/icon-my-vehicles.svg");
      }
    }

    &--my-trips {
      height: 20px;
      width: 16px;

      .menu__item-icon--active-bg {
        top: 2px;
        left: 3px;
        width: 13px;
        height: 9px;
        background-color: $color__pink--primary;
      }

      .menu__item-icon--front {
        width: 100%;
        height: 100%;
        background-image: url("/../../../assets/icons/icon-my-trips.svg");
      }
    }
  }

  &__item-icon {
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__item-text {
    position: relative;
  }
}
