<ul class="menu">
  <li *ngIf="otherContentVisible" class="menu__item" routerLink="/pregled" routerLinkActive="menu__item--active">
    <div class="menu__item-text">Kako uporabljam aplikacijo?</div>
  </li>
  <li *ngIf="otherContentVisible" class="menu__item" routerLink="/pregled" routerLinkActive="menu__item--active">
    <div class="menu__item-text">O nas</div>
  </li>
  <li *ngIf="authService.user$ | async; then authenticated else guest">
    <!-- template will replace this div -->
  </li>
</ul>

<!-- User NOT logged in -->
<ng-template #guest>
  <li class="menu__item" (click)="openLoginRegisterOverlay()">
    <div class="menu__item-text">Prijava</div>
  </li>
</ng-template>

<!-- User logged in -->
<ng-template #authenticated>
  <li class="menu__item" (click)="userMenuSignOut()">
    <div class="menu__item-text">Odjava</div>
  </li>
  <li class="menu__item" routerLink="/pregled">
    <app-preloading-spinner tile-content
                            class="menu__username"
                            [diameter]="20"
                            [strokeWidth]="3"
                            [backgroundVisible]="false"
                            [visibility]="preloadingSpinnerVisibility">
      <div *ngIf="authService.user$ | async as user" class="header__user-wrapper">
        <div class="header__avatar" [class.header__avatar--default]="!user.photoURL">
          <img *ngIf="user.photoURL" class="header__avatar-image" src="{{ user.photoURL }}" alt="{{ user.displayName }}">
          <div *ngIf="!user.photoURL" class="header__avatar-name">
            {{ constant.generateLetterForUserAvatar(user.email) }}
          </div>
        </div>
        <div *ngIf="user.displayName; else showEmail" class="header__username">{{ user.displayName }}</div>
      </div>
    </app-preloading-spinner>
  </li>
</ng-template>


<ng-template #showEmail>
  <div class="header__email">{{ user.email }}</div>
</ng-template>
