@import '../../sass/global_variables';
@import '../../sass/global_fonts';
@import '../../sass/elements/tile';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.tile--trip {
    .tile__wrapper {
      padding: $tile__padding--trip;
    }

    .tile__content {
      flex-direction: column;
      height: 100%;
    }
  }

  &.tile--trip-map {
    .tile__wrapper {
      padding: $tile__padding--trip-map;
    }
  }
}

:host-context(.dark-theme) {
  .tile__headline {
    border-color: #262647;
  }

  .tile__title {
    color: $color__white--90;
  }
}

:host-context(.trips-list) {
  .tile__content {
    max-height: 460px;
    overflow: auto;
  }
}
