$map__width: 500px;
$map__height: 600px;

:host {
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: $map__width;
  height: $map__height;
}

.map {
  display: block;
  width: 100%;
  height: 100%;

  &::before {
    content:'';
  }
}

.mapboxgl-ctrl-directions {
  opacity: 0;
}
