@import './global_variables';
@import './global_fonts';

.table {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__row {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    position: relative;
    height: 54px;
    font-size: 15px;
    color: $color__blue--primary;
    border-bottom: 1px solid $color__blue--lighter;
    transition: background-color 100ms ease-in-out;

    &:hover {
      background-color: rgba(207, 216, 232, 0.3);
      cursor: pointer;
    }

    &--selected {
      background-color: rgba(207, 216, 232, 0.3);

      .table__column {
        opacity: 0.5;

        &.trip__actions,
        &.trip__more {
          opacity: 1;
        }
      }
    }
  }

  &__column {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 250ms ease-in-out;
  }

  &__column-content {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}