@import './global_variables.scss';

.button {
  padding: 3px 20px;
  background-color: $color__pink--primary;
  border-radius: 30px;
  box-shadow: none;

  &:hover {
    background-color: $color__pink--darker;
  }

  &.mat-raised-button:not([disabled]):active:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 0 15px $header__shadow-color;
  }
}
