@import '~@angular/material/theming';
// Plus imports for other components in your app.

@import './global_variables';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 4, 60, 0.4);
}

.mat-stepper-horizontal-line {
  display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  height: 100%;
  padding-bottom: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 5px 0;
  border-top: 0  none;
}

// Angular Material Stepper component
.mat-horizontal-stepper-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.mat-step-header {
  &.cdk-keyboard-focused,
  &.cdk-program-focused,
  &:hover {
    background-color: transparent;
  }
}

.mat-step-header-ripple {
  display: none;
}

.mat-step-header.mat-horizontal-stepper-header {
  padding: 0 20px;
}

.mat-step-header .mat-step-icon-selected {
  background-color: $color__pink--primary;
}

.mat-step-label {
  text-transform: uppercase;

  &.mat-step-label-selected.mat-step-label-active {
    color: $color__pink--primary;
  }
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $color__pink--primary;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $color__pink--primary;
}

.mat-radio-label-content {
  white-space: pre-wrap;
}

.popup__wizard {
  width: 100%;

  .mat-horizontal-content-container {
    padding: 0;
  }

  .mat-horizontal-stepper-header {
    height: 46px;
    border-radius: 10px;
  }
}

// Angular Material Input field component
.form__field {
  .mat-form-field-flex {
    height: 100%;
    align-items: center;
  }

  .mat-form-field-infix {
    height: 100%;
    width: auto;
    padding: 0 14px;
  }

  .mat-select,
  .mat-select-trigger {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .mat-select-value {
    @include font-titillium-semibold;
    display: flex;
    align-items: center;
    max-width: unset;
  }

  .mat-select-arrow-wrapper {
    display: flex;
    align-items: center;
  }

  .mat-input-element {
    @include font-titillium-semibold;
    height: 100%;
    line-height: 100%;
    color: $color__blue--primary;
  }

  .mat-icon-button {
    height: unset;
    width: unset;
    padding: 10px;
  }

  .mat-form-field-suffix {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &:hover {
      .mat-datepicker-toggle {
        color: $color__pink--primary;
      }
    }
  }

  .mat-datepicker-toggle {
    transition: color 200ms ease-in-out;
    color: $color__blue--primary;
  }

  &.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 20px;
  }

  .mat-form-field-label-wrapper {
    display: flex;
    align-items: center;
    top: 0;
    padding-top: 0;
  }

  .mat-form-field-label {
    position: static;
    padding-left: 14px;
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
  min-height: auto;
  margin: 20px 0 0 0;
  padding: 0;
}

.mat-dialog-container,
.mat-dialog-content {
  position: relative;
}

.mat-form-field {
  height: 44px;
}

.mat-select--vehicle-color .mat-select-value {
  padding-left: 30px;
}

.mat-select-panel .mat-option--vehicle-color {
  padding-left: 46px;
}

.mat-select--vehicle-color .mat-select-value,
.mat-select-panel .mat-option--vehicle-color {
  &::before {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 16px;
    content: '';
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 14px;
    content: '';
    border-radius: 50%;
    border: 1px solid $color__white--90;
  }
}

.mat-select--vehicle-color .mat-select-value {
  &::before {
    left: 0;
  }

  &::after {
    left: -2px;
  }
}

.mat-select-panel .mat-option {
  &--white {
    &::before {
      background-color: $color__white--100;
    }
  }

  &--red {
    &::before {
      background-color: #d32f2f;
    }
  }

  &--blue {
    &::before {
      background-color: #1875d1;
    }
  }

  &--yellow {
    &::before {
      background-color: #FFEE58;
    }
  }

  &--orange {
    &::before {
      background-color: #FB8C00;
    }
  }

  &--green {
    &::before {
      background-color: #66BB6A;
    }
  }

  &--pink {
    &::before {
      background-color: #EC407A;
    }
  }

  &--violet {
    &::before {
      background-color: #AB47BC;
    }
  }

  &--brown {
    &::before {
      background-color: #6D4C41;
    }
  }

  &--black {
    &::before {
      background-color: #444;
    }
  }

  &--grey {
    &::before {
      background-color: #708090;
    }
  }

  &--silver {
    &::before {
      background-color: #D1D5DE;
    }
  }

  &--gold {
    &::before {
      background-color: #FFD700;
    }
  }
}

.mat-select {
  &--white {
    .mat-select-value {
      &::before {
        background-color: $color__white--100;
      }
    }
  }

  &--red {
    .mat-select-value {
      &::before {
        background-color: #d32f2f;
      }
    }
  }

  &--blue {
    .mat-select-value {
      &::before {
        background-color: #1875d1;
      }
    }
  }

  &--yellow {
    .mat-select-value {
      &::before {
        background-color: #FFEE58;
      }
    }
  }

  &--orange {
    .mat-select-value {
      &::before {
        background-color: #FB8C00;
      }
    }
  }

  &--green {
    .mat-select-value {
      &::before {
        background-color: #66BB6A;
      }
    }
  }

  &--pink {
    .mat-select-value {
      &::before {
        background-color: #EC407A;
      }
    }
  }

  &--violet {
    .mat-select-value {
      &::before {
        background-color: #AB47BC;
      }
    }
  }

  &--brown {
    .mat-select-value {
      &::before {
        background-color: #6D4C41;
      }
    }
  }

  &--black {
    .mat-select-value {
      &::before {
        background-color: #444;
      }
    }
  }

  &--grey {
    .mat-select-value {
      &::before {
        background-color: #708090;
      }
    }
  }

  &--silver {
    .mat-select-value {
      &::before {
        background-color: #D1D5DE;
      }
    }
  }

  &--gold {
    .mat-select-value {
      &::before {
        background-color: #FFD700;
      }
    }
  }
}
