@import '../../sass/global_variables';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.user-menu__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color__backdrop;
}
