<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Sign Up</h3>

      <mat-form-field [floatLabel]="'never'"  class="form__field">
        <input matInput type="email" class="formControl" placeholder="Email" #userEmail required>
      </mat-form-field>

      <mat-form-field [floatLabel]="'never'"  class="form__field">
        <input matInput type="password" class="formControl" placeholder="Geslo" #userPwd required>
      </mat-form-field>

      <div class="formGroup">
        <button type="button" mat-raised-button class="button button--default" value="Registracija" (click)="authService.SignUp(userEmail.value, userPwd.value)">Registracija</button>
      </div>

      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" mat-raised-button class="button button--default" value="Google" (click)="authService.GoogleAuth()">Google</button>
      </div>

      <!-- Continue with Facebook -->
      <div class="formGroup">
        <button type="button" mat-raised-button class="button button--default" value="Facebook" (click)="authService.FacebookAuth()">Facebook</button>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Already have an account? <span class="redirect" routerLink="/prijava">Log In</span></span>
    </div>
  </div>
</div>
