@import '../../sass/global_variables';

:host {
  display: inline-block;
  height: 100%;
  width: 150px;
  border-radius: 5px;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba(207, 216, 232, 0.3);
  }

  &.selected {
    background-color: rgba(207, 216, 232, 0.2);
    box-shadow: inset 0 0 0 2px $color__blue--default;
  }

  &.vehicle-tile--full-size {
    height: 160px;
    width: 20%;

    .vehicle-tile__icon {
      width: 110px;
    }
  }

  &.vehicle-tile--centered {
    margin: 0 auto;
  }

  &.vehicle-tile--single {
    display: flex;
    width: 180px;
    height: 150px;
    margin-bottom: 50px;
    cursor: unset;

    &:hover {
      background-color: unset;
    }

    .vehicle-tile {
      width: 100%;
      padding: 0;
    }

    .vehicle-tile__icon {
      width: 100%;
      margin-bottom: 0;

      &--car {
        .vehicle-tile__icon-background {
          height: 74%;
        }
      }

      &--suv {
        .vehicle-tile__icon-background {
          height: 68%;
        }
      }

      &--van {
        .vehicle-tile__icon-background {
          height: 76%;
        }
      }

      &--truck {
        .vehicle-tile__icon-background {
          height: 70%;
        }
      }

      &--motorbike {
        .vehicle-tile__icon-background {
          height: 75%;
        }
      }
    }

    &--trip-details {
      width: 100%;
      margin: 0;

      .vehicle-tile {
        align-items: flex-start;
      }

      .vehicle-tile__icon {
        width: 180px;
      }

      .vehicle-tile__text {
        max-width: 100%;
        font-size: 20px;
      }

      .vehicle-tile__text-line {
        text-align: left;
      }

      .vehicle-tile__text {
        display: flex;
        margin-top: 20px;
      }

      .vehicle-tile__text-line--brand {
        margin-right: 10px;
      }
    }
  }

  &.vehicle-tile--single-trip-details {
    margin-bottom: 0;
  }
}

.vehicle-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 25px;

  &.dark-theme {
    .vehicle-tile__svg,
    .vehicle-tile__svg-icon {
      fill: #402a75;
    }

    .vehicle-tile__vehicle-name,
    .vehicle-tile__vehicle-brand {
      color: $color__white--90;
    }
  }

  &__icon {
    position: relative;
    width: 80px;
    margin-bottom: 10px;

    &--truck {
      .vehicle-tile__icon-background {
        height: 69%;
        clip-path: polygon(0 100%, 0% 0, 53% 0, 53% 100%, 61% 100%, 60% 23%, 80% 23%, 87% 55%, 96% 65%, 96% 100%);
      }
    }

    &--suv {
      .vehicle-tile__icon-background {
        height: 66%;
        clip-path: polygon(10% 17%, 19% 2%, 61% 15%, 74% 48%, 99% 56%, 99% 70%, 97% 100%, 90% 99%, 80% 77%, 68% 96%, 66% 100%, 77% 100%, 81% 100%, 34% 100%, 23% 82%, 6% 100%, 2% 100%);
      }
    }

    &--van {
      .vehicle-tile__icon-background {
        height: 74%;
        clip-path: polygon(0% 15%, 10% 2%, 64% 0%, 62% 0%, 73% 14%, 86% 54%, 99% 60%, 97% 100%, 90% 100%, 84% 87%, 81% 87%, 77% 100%, 31% 100%, 22% 100%, 16% 87%, 6% 100%, 2% 100%);
      }
    }

    &--car {
      .vehicle-tile__icon-background {
        height: 70%;
        clip-path: polygon(0% 57%, 23% 0%, 50% 0%, 72% 48%, 100% 66%, 95% 95%, 95% 100%, 83% 73%, 75% 81%, 70% 100%, 32% 100%, 26% 80%, 17% 80%, 8% 96%);
      }
    }

    &--motorbike {
      .vehicle-tile__icon-background {
        height: 73%;
        clip-path: polygon(25% 60%, 63% 26%, 73% 37%, 70% 60%, 59% 91%, 38% 100%, 35% 81%, 26% 63%);
      }
    }

    &--white {
      .vehicle-tile__icon-background {
        background-color: #fff;
      }
    }

    &--red {
      .vehicle-tile__icon-background {
        background-color: #d32f2f;
      }
    }

    &--blue {
      .vehicle-tile__icon-background {
        background-color: #1875d1;
      }
    }

    &--yellow {
      .vehicle-tile__icon-background {
        background-color: #FFEE58;
      }
    }

    &--orange {
      .vehicle-tile__icon-background {
        background-color: #FB8C00;
      }
    }

    &--green {
      .vehicle-tile__icon-background {
        background-color: #66BB6A;
      }
    }

    &--pink {
      .vehicle-tile__icon-background {
        background-color: #EC407A;
      }
    }

    &--violet {
      .vehicle-tile__icon-background {
        background-color: #AB47BC;
      }
    }

    &--brown {
      .vehicle-tile__icon-background {
        background-color: #6D4C41;
      }
    }

    &--black {
      .vehicle-tile__icon-background {
        background-color: #444;
      }
    }

    &--grey {
      .vehicle-tile__icon-background {
        background-color: #708090;
      }
    }

    &--silver {
      .vehicle-tile__icon-background {
        background-color: #D1D5DE;
      }
    }

    &--gold {
      .vehicle-tile__icon-background {
        background-color: #FFD700;
      }
    }
  }

  &__icon-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__svg {
    position: relative;
    fill: $color__blue--primary;
  }

  &__shadow {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 3px;
    background-color: $color__blue--primary;
    border-radius: 50%;
    opacity: 0.3;
    filter: blur(2px);
  }

  &__vehicle-brand {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
  }

  &__vehicle-name {
    @include font-titillium-semibold;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    color: $color__blue--primary;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    max-width: 130px;
  }

  &__text-line {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 1200px) {
  .vehicle-tile {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 770px) {
  :host {
    margin-right: 0;
    padding: 15% 0;
  }

  .vehicle-tile__icon {
    width: 120px;
    margin-bottom: 10%;
  }

  .vehicle-tile__icon {
    &--car {
      .vehicle-tile__icon-background {
        height: 48px;
      }
    }

    &--van {
      .vehicle-tile__icon-background {
        height: 53px;
      }
    }

    &--truck {
      .vehicle-tile__icon-background {
        height: 68%;
      }
    }
  }
}