@import '../../sass/global_variables';
@import '../../sass/global_fonts';
@import '../../sass/elements/tile';

$tile__padding: 20px;
$tile__padding--trip: 30px;
$tile__padding--trip-map: 10px;
$tile__shadow: 0 2px 7px 0 rgba(0, 19, 168, .1);
$tile__shadow--hover: 0 4px 19px 0 rgba(0, 19, 168, .05);
$tile__background-color: $color__white--100;
$tile__border-radius: 3px;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;

  &.tile--title-top {
    width: 100%;

    .tile__wrapper {
      flex-direction: column;
    }

    .tile__title {
      margin-top: 0;
    }
  }

  &.tile--title-left {
    .tile__wrapper {
      flex-direction: row;
      height: 180px;
    }

    .tile__headline {
      border-bottom: 0 none;
    }

    .tile__content {
      align-items: center;
      height: 100%;
    }
  }


  &.tile--trip-details {
    width: 60%;
  }

  &.tile--trip {
    .tile__wrapper {
      padding: $tile__padding--trip;
    }

    .tile__content {
      flex-direction: column;
      height: 100%;
    }
  }

  &.tile--trip-map {
    .tile__wrapper {
      padding: $tile__padding--trip-map;
    }
  }
}

.tile__wrapper {
  display: flex;
  height: 100%;
  padding: $tile__padding;
  background-color: $tile__background-color;
  border-radius: $tile__border-radius;
  box-shadow: $tile__shadow;

  &.dark-theme {
    background-color: #26293b;
  }
}
