@import '../global_variables';

.button {
  padding: 0 22px;
  height: 40px;
  border-radius: 30px;
  box-shadow: none;
  color: white;
  cursor: pointer;

  &--default {
    background-color: $color__blue--primary;

    &:hover {
      background-color: $color__blue--darker;
    }
  }

  &--primary {
    background-color: $color__pink--primary;

    &:hover {
      background-color: $color__pink--darker;
    }
  }

  &--white {
    background-color: $color__white--100;

    &:hover {
      background-color: $color__white--80;
    }
  }

  &--just-icon {
    padding: 0;
    background-color: transparent;
    border: 0 none;
  }

  &--space-right {
    margin-right: 10px;
  }

  &--space-left {
    margin-left: 10px;
  }


  &.mat-raised-button:not([disabled]):active:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 10px $color__default-shadow;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: white;

    &--social {
      width: 24px;
      height: 24px;
      fill: none;
      background-size: 100% 100%;
    }

    &--google {
      background-image: url(./../../../assets/icons/icon-google.svg);
    }

    &--facebook {
      background-image: url(./../../../assets/icons/icon-facebook.svg);
    }

    &--github {
      background-image: url(./../../../assets/icons/icon-github.svg);
    }
  }

  &__icon--on-left {
    margin-right: 5px;
  }

  &__icon--on-right {
    margin-left: 5px;
  }
}
