@import '../global_variables';

.form {
  &__field {
    background-color: $color__blue--lighter;
    border-radius: 3px;
  }

  &__field,
  &__text-area-field {
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      border-radius: 3px;
      border: 2px solid $color__blue--default;
      transition: opacity 200ms ease-in-out;
      opacity: 0;
      content: '';
    }

    &.mat-focused,
    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &__row {
    display: flex;
    width: 100%;
    margin-bottom: 7%;

    &--2-input-fields,
    &--3-input-fields {
      .form__input {
        flex-grow: 1;
        max-width: 50%;
      }
    }

    &--last {
      margin-bottom: 0;
    }

    &--inputs-with-space {
      .form__input {
        width: 48%;
        margin-right: 4%;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &--checkbox {
      margin-bottom: 20px;
    }

    &--half-size {
      width: 50%;
    }

    &--message {
      margin-bottom: 30px;
    }
  }

  &__label {
    @include font-titillium-semibold;
    margin-bottom: 5px;
    font-size: 13px;
    color: $color__pink--primary;

    &--bigger-margin {
      margin-bottom: 20px;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--without-label {
      justify-content: flex-end;
      margin-top: 23px;
    }

    &--space-left {
      margin-left: 40px;
    }

    &--2-inputs {
      display: flex;
      flex-direction: row;
    }
  }

  &__text-area{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    width: 44px;
    height: 44px;;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 200ms ease-in-out;

    &--space-left-right {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &--icon-label {
      margin-right: 10px;
    }
  }

  &__radio-button {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
