@import '../global_variables';

.form {
  &__field {
    background-color: $color__blue--lighter;
    border-radius: 3px;
  }

  &__row {
    display: flex;
    width: 100%;
    margin-bottom: 40px;

    &--2-input-fields {
      .form__input {
        flex-grow: 1;
      }
    }
  }

  &__label {
    @include font-titillium-semibold;
    margin-bottom: 5px;
    font-size: 13px;
    color: $color__pink--primary;
  }

  &__input {
    display: flex;
    flex-direction: column;
  }

  &__button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;;
    cursor: pointer;

    &--space-left-right {
      margin-left: 15px;
      margin-right: 15px;
    }

    &:hover {
      .form__svg-icon {
        fill: $color__pink--primary;
      }
    }
  }

  &__svg-icon {
    width: 24px;
    height: 24px;
    fill: $color__blue--primary;
    transition: fill 250ms ease-in-out;
  }
}
