<h1>Izjava o zasebnosti</h1>
<p>Obiskovalci spletne strani ob vsakem obisku posredujete tudi določene informacije, ki omogočajo posredno ali neposredno določitev posameznika (osebne podatke), zato vam želimo pojasniti, kako bomo te podatke obdelovali.</p>

<h2>Kdo bo upravljal z vašimi podatki?</h2>
<p>Upravljavec zbirke osebnih podatkov je nacionalni odzivni center za kibernetsko varnost SI-CERT, ki deluje pod okriljem Javnega zavoda Arnes. Kontaktni podatki: SI-CERT, Tehnološki park 18, 1000, Ljubljana, info@cert.si</p>

<h2>Kontakti pooblaščene osebe za varstvo osebnih podatkov:</h2>

<p>dpo@arnes.si</p>
<h2>Za katere namene obdelujemo vaše osebne podatke, na kateri pravni podlagi in kako dolgo jih hranimo?</h2>
  <p>Pri obisku spletne strani: Ko obiščete spletno stran, se na spletnem strežniku, v obliki strežniških datotek, zabeležijo podatki o vašem obisku: datum in čas obiska, podrobnosti o http poizvedbi, številka IP vaše naprave ipd. Tako zbrani podatki se obdelujejo za namen zagotavljanja varnosti omrežja in informacij, t.j zmožnosti omrežja ali informacijskega sistema, da na določeni ravni zaupanja prepreči slučajne dogodke ali nezakonita ali zlonamerna dejanja, ki ogrožajo dostopnost, avtentičnost, celovitost in zaupnost shranjenih ali prenesenih osebnih podatkov. Takšna obdelava je potrebna za opravljanje naloge v javnem interesu ali pri izvajanju javne oblasti, dodeljene upravljavcu (točka 6(1)(e) Splošne uredbe o varstvu podatkov). Tako zbrani podatki se hranijo 90 dni od obiska spletne strani in se ne posredujejo drugim uporabnikom, saj spletna stran gostuje na strežniški infrastrukturi Javnega zavoda Arnes.</p>
  <p>Pri obisku spletne strani, če podate privolitev za namestitev analitičnih piškotkov Google Analytics: Ko obiščete spletno stran in na vstopni strani podate privolitev za namestitev analitičnih piškotkov ponudnika Google Analytics, se na vašo napravo namestijo tako trajni in začasni (sejni piškotki) Google Analytics. Storitev uporabljamo za namen analiziranja prometa (štetje obiskovalcev, identifikacija brskalnikov in preživet čas uporabnika na strani, težave pri navigaciji itd.). Omogočajo nam, da ocenjujemo doseg in zanimivost naših prispevkov. Pravna podlaga za namen namestitve piškotka za potrebe spremljanja analitike je vaša veljavna privolitev (točka 6(1)(a) Splošne uredbe o varstvu podatkov). Tako zbrani podatki se hranijo 2 leti (piškotek _ga) oz. 1 dan (piškotek _gid). Prav tako se na vašo napravo shranijo tudi piškotki, ki so potrebni za pravilno delovanje spletnega mesta, podrobnejša pojasnila boste našli v razdelku Piškotki.</p>

  <h2>Uporabniki ali kategorije uporabnikov osebnih podatkov, če obstajajo:</h2>
  <p>Za namen spremljanja obiskanosti spletnega mesta uporabljamo storitev Google Analytics podjetja Google LLC. Obdelavo s strani navedenega obdelovalcev ureja pogodba o pogodbeni obdelavi (Data Processing Agreement).</p>

<h2>Ali osebne podatke prenašamo v tretjo državo ali mednarodno organizacijo?</h2>
<p>Pri uporabi storitev Google Analytics se osebni podatki posameznikov prenesejo izven Evropske unije v Združene države Amerike, pri čemer so ZDA uvrščene na listo tretjih držav, ki zagotavljajo ustrezno raven varstva osebnih podatkov, in sicer, ko gre za osebne podatke, ki se prenašajo v okviru zasebnostnega ščita EU-ZDA (odločba Informacijskega pooblaščenca št. 0601-3/2017/2, z dne 20. 3. 2017). Podjetje Google LLC je ustrezno samo-certificirano v okviru zasebnostnega ščita (Privacy Shield), zato gre za prenos, kjer je upravljavec predvidel ustrezne zaščitne ukrepe.</p>

<h2>Katere pravice imate posamezniki, na katere se nanašajo osebni podatki?</h2>
<p>Posameznik, na katerega se nanašajo osebni podatki, ima pravico zahtevati dostop do osebnih podatkov in popravek ali izbris osebnih podatkov ali omejitev obdelave v zvezi z njim ter pravico do ugovora obdelavi in pravico do prenosljivosti podatkov. Zahtevo posameznik naslovi na kontaktni naslov dpo@arnes.si, ki se nato obravnava skladno z določbami Splošne uredbe o varstvu podatkov.</p>

<h2>Informacija o pravici do preklica privolitve, kadar obdelava temelji na privolitvi:</h2>
<p>Privolitev za namestitev analitičnih piškotkov ponudnika Google Analytics lahko prekličete tako, da odkljukate spodaj navedeno možnost.</p>

<h2>Informacija o pravici do vložitve pritožbe pri nadzornem organu:</h2>
<p>Pritožbo lahko podate Informacijskemu pooblaščencu (naslov: Dunajska 22, 1000 Ljubljana, e-naslov: gp.ip@ip-rs.si telefon: 01 230 9730).</p>

<h2>Ali je zagotovitev osebnih podatkov statutarna ali pogodbena obveznost ali pa obveznost, ki je potrebna za sklenitev pogodbe, ter ali mora posameznik, na katerega se nanašajo osebni podatki, zagotoviti osebne podatke ter kakšne so morebitne posledice, če se taki podatki ne zagotovijo:</h2>
<p>Posamezniki se lahko prostovoljno odločite, ali boste dovolili namestitev analitičnih piškotkov. V primeru, da se podatki ne zagotovijo, za posameznika ni posledic.
Osebni podatki pri obisku spletne strani se upravljalcu prenesejo zaradi narave delovanja spleta.
Obstoj avtomatiziranega sprejemanja odločitev, vključno z oblikovanjem profilov iz člena 22(1) in (4), ter vsaj v takih primerih smiselne informacije o razlogih zanj, kot tudi pomen in predvidene posledice take obdelave za posameznika, na katerega se nanašajo osebni podatki:
Avtomatizirano sprejemanje odločitev ali profiliranje se ne izvaja.</p>

<h2>UPORABA PIŠKOTKOV NA SPLETNEM MESTU WWW.CERT.SI</h2>
<p>Na spletnem mestu uporabljamo funkcionalne piškotke, ki so potrebni za pravilno tehnično delovanje spletnega mesta oz. tiste, ki so potrebni, da uporabnik sprejme storitev, ki jo je zahteval. Gre za piškotke, ki se namestijo na napravo uporabnika brez privolitve, saj sodijo pod izjemo, kot opredeljeno v 157. členu Zakona o elektronskih komunikacijah (ZEKom-1).
Prav tako uporabljamo piškotke analitične storitve Google Analytics, ki so tako trajni in začasni (sejni piškotki). Storitev uporabljamo za namen analiziranja prometa (štetje obiskovalcev, identifikacija brskalnikov in preživet čas uporabnika na strani, težave pri navigaciji itd.). Omogočajo nam, da ocenjujemo doseg in zanimivost naših prispevkov in obvestil. Vse podatke uporabljamo interno in zgolj v namen izboljšanja našega spletnega mesta, namestitev storitve Google Analytics pa je omejena zgolj na osnovne funkcionalnosti. Gre za piškotke, ki se na vašo napravo namestijo le, ko podate veljavno privolitev, kot opredeljeno v členu 6(1)(a) Splošne uredbe o varstvu podatkov.
Seznam piškotkov na spletnem mestu:</p>

<p>_ga	Analitika	Traja 2 leti. Piškotek nam omogoča boljše razumevanje navad obiskovalcev z uporabo spletne analitike.
_gid	Analitika	Traja 1 dan. Sejni piškotek, ki omogoča ločevanje med ponovnimi in novimi obiskovalci spletnega mesta.
_gat	Analitika	Traja 1 minuto. Sejni piškotek Google Tag Manager omogoča ločevanje med ponovnimi in novimi obiskovalci spletnega mesta.
viewed_cookie_policy	WordPress	Traja 30 dni. Piškotek ločuje med uporabniki, ki so privolili v namestitev analitičnih piškotkov, da se več ne prikazuje obvestilo.
wow-modal-id-1	WordPress	Traja 1 uro. Piškotek shrani uporabnikov izbiro, naj se več ne prikazuje obvestilo za prijavo na elektronski novičnik.
Izklop oz. zavrnitev analitičnih piškotkov</p>
<p>Vsak obiskovalec ima možnost naknadne zavrnitve oz. preklica privolitve v namestitev analitičnih piškotkov in tudi nestrinjanje z namestitvijo ob prvem obisku spletne strani.</p>
 
<p>S klikom na gumb “Ne želim piškotkov” orodje za spletno analiziranje ne bo več beležilo vaših obiskov tega spletišča oz. se piškotek sploh ne bo namestil.</p>
 
<p>Če izbrišete vse piškotke ali piškotek za onemogočenje, zamenjate računalnik ali brskalnik, boste ob obisku spletnega mesta ponovno morali izbrati možnost namestitve oz. zavrnitve analitičnih piškotkov.</p>
 
<p>STRINJAM SE NE ŽELIM PIŠKOTKOV</p>