:host {
  display: block;
  width: 100%;

  &.webpage-login__wrapper,
  &.webpage-header__content {
    .app__wrapper {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .app__content {
      width: 100%;
    }
  }

  &.webpage-login__wrapper {
    .app__wrapper {
      align-items: flex-start;
      height: 100%;
    }
  }

  &.home__content {
    display: flex;
    flex-grow: 1;
    height: unset;

    .app__wrapper,
    .app__content {
      height: 100%;
    }
  }
}

.app__wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  &--with-padding-top {
    padding-top: 56px;
  }
}

:host-context(.webpage-header) {
  .app__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
  }
}

:host-context(.footer) {
  .app__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1200px) {
  .app__wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 760px) {
  .app__wrapper {
    width: 90%;
  }

  :host-context(.footer) {
    .app__content {
      flex-direction: column;;
    }
  }
}

@media only screen and (max-width: 576px) {
  .app__wrapper {
    width: 100%;
  }
}
