@import '../../sass/global_variables';

@keyframes seat-shadow-glow {
  from {
    transform: scale(1.5);
    opacity: 0.6;
  }
  to {
    transform: scale(2);
    opacity: 0.3;
  }
}

@keyframes seat-moving {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

:host {
  display: block;
}

.vehicle-seats {
  display: block;
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-gap: 15px;
    align-items: center;
  }

  &__seat {
    position: relative;
    width: 60px;
    height: 70px;
    z-index: 1;

    &--selected {
      .vehicle-seats__seat-shadow {
        transform: skew(-150deg, 90deg);
        background-color: $color__pink--primary;
        animation: seat-shadow-glow 1s ease-in-out infinite alternate;
      }

      .vehicle-seats__seat-icon {
        background-image: url(../../../assets/icons/icon-seat-selected.svg);
        animation: seat-moving 1s ease-in-out infinite alternate;
      }
    }
  }

  &__seat-shadow {
    position: absolute;
    top: 56px;
    left: 10px;
    width: 28px;
    height: 10px;
    transform: skew(-67deg, 32deg);
    border-radius: 5px;
    background-color: $color__blue--primary;
    filter: blur(3px);
    opacity: 0.5;
  }

  &__seat-icon {
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/icons/icon-seat.svg);
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 200ms ease-in-out;
  }

  &__persons {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-gap: 15px;
    align-items: center;
    position: absolute;
    top: -6px;
    left: -11px;
    z-index: 2;
  }

  &__person {
    position: relative;
    top: 10px;
    left: 0;
    width: 60px;
    height: 85px;
    background-image: url(../../../assets/icons/icon-person.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}