<div *ngIf="isTripsListEmpty(); else emptyTripList" class="table">
  <div *ngFor="let trip of trips; let i = index;" class="table__row">
    <div class="table__column trip__status trip__status--{{trip?.tripStatus | lowercase}}">
      <div class="trip__status-icon"></div>
    </div>
    <div class="table__column trip__id-tag">{{ trip?.tripIdTag }}</div>
    <div class="table__column trip__from-location">{{ trip?.tripFromLocation }}</div>
    <div class="table__column trip__arrow">
      <svg class="trip__arrow-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="none" d="M0 0h24v24H0z"/>
        <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z"/></svg>
    </div>
    <div class="table__column trip__to-location">{{ trip?.tripToLocation }}</div>
    <div class="table__column trip__date">{{ trip?.tripDateAndTime }}</div>
    <div class="table__column trip__time">{{ trip?.tripDateAndTime }}</div>
    <div class="table__column trip__price">{{ trip?.tripPrice }}</div>
    <div class="table__column trip__luggage-space">{{ trip?.tripLuggageSpace }}</div>
  </div>
</div>

<!-- Element without data-->
<ng-template #emptyTripList>
  <app-empty-data [emptyDataType]="emptyDataType"
                  [emptyDataButtonText]="emptyDataButtonText"
                  [emptyDataText]="emptyDataText"
                  [emptyDataIcon]="emptyDataIcon"
                  (clicked)="openAddTripDialog($event)"></app-empty-data>
</ng-template>
