@import '../../sass/global_variables';
@import '../../sass/global_table';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mat-table {
  width: 100%;
}

.mat-row {
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $color__blue-grey--light;
  }
}

.trip {
  &__status {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px;

    &--active {
      .trip__status-icon {
        background-color: #8BCF47;
      }
    }
  }

  &__status-icon {
    width: 12px;
    height: 12px;
    margin-left: 15px;
    border-radius: 50%;
    border: 2px solid $color__blue--primary;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    margin: 0 15px;
  }

  &__arrow-icon {
    width: 28px;
    fill: $color__blue--primary;
  }

  &__time {
    display: flex;
  }

  &__time-icon {
    margin-right: 10px;
  }

  &__price {
    @include font-titillium-semibold;
    font-size: 16px;
  }

  &__more {
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__actions {
    display: flex;
    position: absolute;
    right: 0;
  }

  &__time-icon-svg {
    fill: $color__blue--primary;
  }
}
