<div class="popup__header">
  <h2 class="popup__headline">Dodajanje novega potovanja</h2>
  <div class="popup__close" (click)="onCloseCancel()">
      <svg class="popup__close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  </div>
</div>

<mat-dialog-content>
  <form [formGroup]="createForm" class="create-form">
    <mat-form-field class="create-form__field">
      <input matInput placeholder="tripFromLocation" formControlName="tripFromLocation" #tripFromLocation>
    </mat-form-field>

    <mat-form-field class="create-form__field">
      <input matInput placeholder="tripToLocation" formControlName="tripToLocation" #tripToLocation>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="tripDateAndTime" formControlName="tripDateAndTime" #tripDateAndTime>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="create-form__field">
      <input matInput placeholder="tripCategory" formControlName="tripCategory" #tripCategory>
    </mat-form-field>

    <mat-form-field class="create-form__field">
      <input matInput placeholder="tripCO2Emissions" formControlName="tripCO2Emissions" #tripCO2Emissions>
    </mat-form-field>

    <mat-form-field class="create-form__field">
      <input matInput placeholder="tripDistance" formControlName="tripDistance" #tripDistance>
    </mat-form-field>

    <mat-form-field class="create-form__field">
      <input matInput placeholder="tripDuration" formControlName="tripDuration" #tripDuration>
    </mat-form-field>

    <mat-form-field class="create-form__field">
      <input matInput placeholder="tripFreeSeats" formControlName="tripFreeSeats" #tripFreeSeats>
    </mat-form-field>

    <mat-form-field class="create-form__field">
      <input matInput placeholder="tripPrice" formControlName="tripPrice" #tripPrice>
    </mat-form-field>

    <mat-form-field class="create-form__field">
      <input matInput placeholder="tripLuggageSpace" formControlName="tripLuggageSpace" #tripLuggageSpace>
    </mat-form-field>

    <mat-form-field class="create-form__field">
      <input matInput placeholder="tripComfortable" formControlName="tripComfortable" #tripComfortable>
    </mat-form-field>

    <mat-form-field class="create-form__field">
      <input matInput placeholder="tripNewPassengersAcceptance" formControlName="tripNewPassengersAcceptance" #tripNewPassengersAcceptance>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button class="button button--default" (click)="onCloseCancel()">Prekliči</button>
  <button mat-raised-button class="button button--primary"
    (click)="addTrip(authService.userData.uid, '5cc9a86bd5fd5b3c34b3083e', 'Active', '3r34f45f', tripFromLocation.value, tripToLocation.value, '2012-04-23T18:25:43.511Z', true, tripCategory.value, tripCO2Emissions.value, tripDistance.value, tripDuration.value, tripFreeSeats.value, tripPrice.value, tripLuggageSpace.value, tripComfortable.value, tripNewPassengersAcceptance.value)">Shrani</button>
</mat-dialog-actions>
