<div class="popup__header">
  <h2 class="popup__headline">Dodajanje novega potovanja</h2>
  <div class="popup__close" (click)="onCloseCancel()">
    <svg class="popup__close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
      <path d="M0 0h24v24H0z" fill="none" /></svg>
  </div>
</div>

<div class="popup__content">
  <mat-dialog-content>
    <form [formGroup]="addTripFormStepperForm" class="form">
      <mat-horizontal-stepper class="popup__wizard" [linear]="false" formArrayName="addTripFormStepperFormArray"
        #stepper>

        <!-- STEP 1 -->
        <mat-step formGroupName="0" [stepControl]="addTripFormStepperFormArray?.get([0])">
          <ng-template matStepLabel>Potek vožnje</ng-template>

          <section class="form__row form__row--2-input-fields">
            <div class="form__input">
              <label class="form__label">Odhod iz</label>
              <mat-form-field [floatLabel]="'never'"  class="form__field">
                <input (keyup)="valueChangeStartDestination($event)" matInput
                  placeholder="Ljubljana, Maribor, Koper, ..." formControlName="tripFromLocation" #tripFromLocation
                  [matAutocomplete]="matAutocompleteStart">
              </mat-form-field>
            </div>

            <mat-autocomplete #matAutocompleteStart="matAutocomplete"
              (optionSelected)="selectStartLocationSuggestion($event.option.value)">
              <mat-option *ngFor="let hereMapsLocation of locationStartSuggestions"
                [value]="hereMapsLocation.Location.Address.Label">{{hereMapsLocation.Location.Address.Label}}
              </mat-option>
            </mat-autocomplete>

            <div class="form__button form__button--just-icon form__button--space-left-right"
              (click)="swapStartFinishLocation()">
              <svg class="form__svg-icon form__svg-icon--change-arrows" xmlns="http://www.w3.org/2000/svg" width="24"
                height="18.667" viewBox="0 0 24 18.667">
                <path d="M5.333,0,0,5.32H4v9.347H6.667V5.32h4Zm9.333,18.68V9.333H12V18.68H8L13.333,24l5.333-5.32Z"
                  transform="translate(24) rotate(90)" />
              </svg>
            </div>

            <div class="form__input">
              <label class="form__label">Prihod v</label>
              <mat-form-field [floatLabel]="'never'"  class="form__field">
                <input (keyup)="valueChangeFinishDestination($event)" matInput
                  placeholder="Ljubljana, Maribor, Koper, ..." formControlName="tripToLocation" #tripToLocation
                  [matAutocomplete]="matAutocompleteFinish">
              </mat-form-field>
            </div>

            <mat-autocomplete #matAutocompleteFinish="matAutocomplete"
              (optionSelected)="selectFinishLocationSuggestion($event.option.value)">
              <mat-option *ngFor="let hereMapsLocation of locationFinishSuggestions"
                [value]="hereMapsLocation.Location.Address.Label">{{hereMapsLocation.Location.Address.Label}}
              </mat-option>
            </mat-autocomplete>
          </section>

          <section class="form__row form__row--2-input-fields">
            <div class="form__input">
              <label class="form__label">Datum in ura odhoda</label>
              <mat-form-field [floatLabel]="'never'"  class="form__field">
                <input matInput [matDatepicker]="tripDate" placeholder="Datum ..." formControlName="tripDateInput" #tripDateInput>
                <mat-datepicker-toggle matSuffix [for]="tripDate"></mat-datepicker-toggle>
                <mat-datepicker startAt="{{CurrentDate | date: dateFormat}}" weekStartsOn="1" #tripDate></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="form__input form__input--without-label form__input--space-left form__input--2-inputs">
              <div class="form__icon-wrapper form__icon-wrapper--icon-label">
                <svg class="form__svg-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24">
                  <path
                    d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z" /></svg>
              </div>
              <app-number-picker class="form__time-input" [min]="0" [max]="23" [step]="1" [precision]="1"
                [inputDisabled]="false" (change)="timeHourChanged($event)">
              </app-number-picker>
              <div class="form__time-input-dots">
                <svg class="form__svg-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"
                  style="enable-background:new 0 0 24 24;" xml:space="preserve">
                  <path
                    d="M12,10c1.1,0,2-0.9,2-2s-0.9-2-2-2s-2,0.9-2,2S10.9,10,12,10z M12,14c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S13.1,14,12,14z" />
                </svg>
              </div>
              <app-number-picker class="form__time-input" [min]="0" [max]="55" [step]="5" [precision]="1"
                [inputDisabled]="false" (change)="timeMinutesChanged($event)">
              </app-number-picker>
            </div>
          </section>

          <section class="form__row form__row--2-input-fields">
            <div class="form__input">
              <label class="form__label">Število prostih mest</label>
              <app-number-picker class="form__time-input" [min]="0" [max]="10" [step]="1" [precision]="1"
                [inputDisabled]="false" (change)="freeSeatsChanged($event)">
              </app-number-picker>
            </div>

            <div class="form__input form__input--space-left">
              <label class="form__label">Cena prevoza</label>
              <div class="form__price-wrapper">
                <app-number-picker class="form__time-input" [min]="0" [max]="200" [step]="1" [precision]="1"
                  [inputDisabled]="false" (change)="priceChanged($event)">
                </app-number-picker>
                <div class="form__price-label">EUR</div>
              </div>
            </div>
          </section>

          <section class="form__row form__row--2-input-fields">
            <div class="form__input">
              <label class="form__label">Največja količina prtljage</label>
              <div class="form__price-wrapper">
                <app-number-picker class="form__time-input" [min]="0" [max]="10" [step]="1" [precision]="1"
                  [inputDisabled]="false" (change)="luggageSpace($event)">
                </app-number-picker>
              </div>
            </div>

            <div class="form__input form__input--space-left">
              <label class="form__label">Izbrano vozilo</label>
              <mat-form-field [floatLabel]="'never'"  class="form__field">
                <mat-select matInput placeholder="Izbrano vozilo" formControlName="selectedVehicle" #selectedVehicle>
                  <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle._id">
                    <div class="vehicle-type--{{vehicle.vehicleType}} vehicle-color--{{vehicle.vehicleColor}}">
                      {{vehicle.vehicleBrand}} {{vehicle.vehicleName}}
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </section>
        </mat-step>

        <!-- STEP 2 -->
        <mat-step formGroupName="1" [stepControl]="addTripFormStepperFormArray?.get([1])">
          <ng-template matStepLabel>Podrobnosti</ng-template>

          <section class="form__row">
            <div class="form__text-area">
              <label class="form__label">Opombe</label>
              <mat-form-field [floatLabel]="'never'"  class="form__text-area-field">
                <textarea matInput placeholder="Textarea" formControlName="tripMessage" #tripMessage></textarea>
              </mat-form-field>
            </div>
          </section>

          <section class="form__row">
            <div class="form__input">
              <mat-checkbox class="example-margin" formControlName="tripStopsOnTheWayToFinalDestination" (change)="tripStopsOnTheWayToFinalDestinationChange()">
                Ustavljam v krajih na poti do cilja po dogovoru z iskalci prevoza.
              </mat-checkbox>
            </div>
          </section>

          <section class="form__row">
            <div class="form__input">
              <mat-checkbox class="example-margin" formControlName="tripComfortable" (change)="tripComfortableChange()">
                Zagotavljam udoben prevoz (največ 2 osebi na zadnjih sedežih).
              </mat-checkbox>
            </div>
          </section>
        </mat-step>

        <!-- STEP 3 -->
        <mat-step formGroupName="2" [stepControl]="addTripFormStepperFormArray?.get([2])">
          <ng-template matStepLabel>Zaključek</ng-template>

          <section class="form__row form__row--2-input-fields">
            <div class="form__input">
              <label id="how-to-accept-passengers" class="form__label form__label--bigger-margin">Kako boš sprejel potnike na tvojem potovanju?</label>
              <mat-radio-group aria-labelledby="how-to-accept-passengers" (change)="acceptPassengersChange($event)">
                <mat-radio-button class="form__radio-button" value="auto">Vsak nov potnik je avtomatsko dodan k mojemu potovanju.</mat-radio-button>
                <mat-radio-button class="form__radio-button" value="manual">Vsakega potnika, kateri se prijavi na moje potovanje, moram sprejeti s klikom na povezavo v e-sporočilu.</mat-radio-button>
              </mat-radio-group>
            </div>
          </section>

          <!--
          <section class="form__row">
            <app-info-box>
              <svg class="info-box__icon info-box__icon--police-man" version="1.1" id="Layer_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 40.1 58.1" style="enable-background:new 0 0 40.1 58.1;" xml:space="preserve">
                <g transform="translate(-931 2394.781)">
                  <path class="st0" d="M931-2342.7v-3.4c0-0.3,0.1-0.5,0.1-0.8c0.2-2.9,0.6-5.7,1.2-8.5c0.7-3.5,2.2-6.8,4.5-9.5
		c1.4-1.7,3.5-2.8,5.7-3c1.9-0.1,3.9,0,5.8-0.1c0.5,0,1,0.3,1.1,0.8c0.3,0.8,0.6,1.6,0.9,2.4c0.1,0.3,0.3,0.6,0.7,0.6
		c0.4,0,0.5-0.3,0.6-0.6c0.3-0.8,0.6-1.6,1-2.4c0.1-0.3,0.2-0.8,0.7-0.8c2.3,0,4.7-0.3,7,0.1c3,0.6,5,2.6,6.6,5.1
		c1.5,2.6,2.6,5.4,3.1,8.4c0.5,2.7,0.9,5.4,1.1,8.2v3.6c0,0.3-0.1,0.5-0.1,0.8c-0.2,2.1-1.6,3.6-3.5,3.4c-2-0.2-3.4-1.9-3.2-3.9
		c0,0,0-0.1,0-0.1c0.3-6.3,0.4-3.5-0.7-9.7c-0.3-1.8-0.8-3.5-1.6-5.2c-0.1,0.4-0.1,0.7-0.1,1.1c0,6.1,0,12.2,0,18.3
		c0,0.4,0.1,1-0.5,1.1c-0.6,0.1-15.1,0-20.2,0.1c-0.9,0-1.1-0.4-1.1-1.2c0-2.3,0-4.7,0-7c0-4.1,0-8.2,0-12.4c-0.6,1.1-1,2.2-1.2,3.4
		c-1.5,6.5-1.3,4.1-1.1,10.8c0.1,0.7,0,1.4-0.1,2.1c-0.4,1.6-1.8,2.7-3.4,2.6c-1.7-0.1-3-1.5-3.1-3.1
		C931.1-2341.9,931-2342.3,931-2342.7z M946.1-2356.2c0.7,0,1.4,0,2.1,0c0.4,0,0.7-0.1,0.7-0.6c0-0.5-0.3-0.6-0.7-0.6
		c-1.4,0-2.8,0-4.2,0c-0.4,0-0.7,0.2-0.7,0.6s0.3,0.6,0.7,0.6C944.7-2356.2,945.4-2356.2,946.1-2356.2z M956.1-2356.2L956.1-2356.2
		c0.7,0,1.5,0,2.2,0c0.3,0,0.6-0.2,0.6-0.5c0,0,0-0.1,0-0.1c0-0.3-0.2-0.6-0.5-0.6c0,0-0.1,0-0.1,0c-1.4,0-2.8,0-4.3,0
		c-0.4,0-0.7,0.2-0.7,0.6c0,0.6,0.4,0.6,0.8,0.6C954.7-2356.2,955.4-2356.2,956.1-2356.2L956.1-2356.2z" />
                  <path class="st0"
                    d="M941.9-2379.1c0.8-1.8-0.5-2.7-1.4-3.8c-2-2.3-1.9-1.3-0.8-4.2c1.3-3.5,1.3-3.5,4.8-5c2-0.8,3.9-1.7,5.8-2.6
		c0.5-0.3,1.1-0.3,1.6,0c2.8,1.3,5.7,2.5,8.5,3.7c0.5,0.2,0.9,0.6,1.1,1.1c0.5,1.4,1.1,2.9,1.7,4.3c0.2,0.5,0.1,1-0.3,1.3
		c-0.3,0.3-0.5,0.6-0.8,0.9c-1.3,1.1-2.1,2.8-1.9,4.6c0.1,4.5-3.7,8.3-8.4,8.7c-4.5,0.3-8.6-2.7-9.6-7.1
		C942-2377.8,941.9-2378.4,941.9-2379.1z M950.5-2386c-2.1,0-4.2,0.3-6.2,1c-0.7,0.2-1.3,0.6-1.7,1.1c-0.1,0.1-0.2,0.4-0.1,0.6
		c0.2,0.2,0.4,0,0.5-0.1c0.6-0.4,1.2-0.6,1.8-0.8c4.9-1.2,9.7-1.4,14.3,0.8c0.1,0.1,0.3,0.2,0.4,0c0.1-0.2,0.1-0.3,0-0.5
		c-0.4-0.6-1-1.1-1.7-1.3C955.5-2385.7,953-2386.1,950.5-2386L950.5-2386z M954-2390c-0.9-0.1-0.9-0.1-1.5-0.9
		c-0.4-0.7-1.4-1-2.1-0.6c-0.2,0.1-0.3,0.2-0.4,0.4c-0.5,0.7-0.8,1.5-2,1C950.7-2388.1,951.9-2388.1,954-2390L954-2390z" />
                </g>
              </svg>
              Pot gre čez druge države. Prepričajte se, da imajo potniki osebni dokument. Za vožnjo v druge države,
              odgovarjajte za vse potnike in njihovo prtljago!
            </app-info-box>
          </section>
-->
          <section class="form__row">
            <app-info-box>
              <svg class="info-box__icon info-box__icon--warning" xmlns="http://www.w3.org/2000/svg" width="24"
                height="24" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" /></svg>Ta navodila so namenjena le
              načrtovanju. Na poti utegnete naleteti na nepredvidene dogodke, kot so gradbeni projekti, promet,
              vremenske razmere ali druge dogodke, ki bi lahko povzročili razmere drugačne tistim, ki so bile navede v
              načrtu poti. Svoje potovanje zato načrtujte temu primerno.
            </app-info-box>
          </section>

        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </mat-dialog-content>

  <div class="here-maps__wrapper">
    <app-here-maps [hereMapStart]="hereMapStart" [hereMapFinish]="hereMapFinish"></app-here-maps>
  </div>
</div>

<mat-dialog-actions>
  <button mat-raised-button class="button button--default" (click)="onCloseCancel()">Prekliči</button>
  <button *ngIf="stepper.selectedIndex === 0" mat-raised-button class="button button--default"
    (click)="stepperGoNextStep()" type="button">
    Podrobnosti
    <svg class="button__icon button__icon--on-right" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" /></svg>
  </button>
  <button *ngIf="stepper.selectedIndex === 1" mat-raised-button class="button button--default"
    (click)="stepperGoPreviousStep()" type="button">
    <svg class="button__icon button__icon--on-left" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" /></svg>
    Potek vožnje
  </button>
  <button *ngIf="stepper.selectedIndex === 1" mat-raised-button class="button button--default"
    (click)="stepperGoNextStep()" type="button">
    Zaključek
    <svg class="button__icon button__icon--on-right" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" /></svg>
  </button>
  <button *ngIf="stepper.selectedIndex === 2" mat-raised-button class="button button--default"
    (click)="stepperGoPreviousStep()" type="button">
    <svg class="button__icon button__icon--on-left" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" /></svg>
    Podrobnosti
  </button>
  <button *ngIf="stepper.selectedIndex === 2"
          mat-raised-button
          class="button button--primary"
          (keydown.ArrowLeft)="stepperGoPreviousStep()"
          (keydown.ArrowRight)="stepperGoNextStep()"
          (click)="addTrip(
          authService.userData.uid,
          selectedVehicle.value,
          'active',
          createTripIdTag(),
          tripFromLocation.value,
          tripToLocation.value,
          tripDateInput.value,
          timeHourValue + ' : ' + timeMinutesValue,
          freeSeatsValue,
          priceValue,
          luggageSpaceValue,
          tripMessage.value,
          isTripComfortableChecked,
          isTripStopsOnTheWayToFinalDestinationChecked,
          isAcceptPassengersChecked)">Dodaj novo potovanje</button>
</mat-dialog-actions>