@import '../../sass/global_variables';
@import '../../sass/elements/global_button';

.popup {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__headline {
    color: $color__blue--primary;
    margin-top: 0;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: $color__blue--lightest;
    }
  }

  &__close-icon {
    fill: $color__blue--primary;
  }
}

.mat-dialog-content {
  display: flex;
}

.mat-dialog-actions {
  justify-content: flex-end;
  margin: 0;
}

mgl-map {
  height: 100%;
  width: 100%;
}

.trip__map {
  width: 400px;
  height: 500px;
}
