<div class="popup">
  <div class="popup__warpper">
    <div class="popup__header">
      <h2 class="popup__headline">
        <ng-content select="[popup-headline]"></ng-content>
      </h2>
      <app-button-icon class="popup__close"
                   [buttonTooltipText]="'Zapri'"
                   [buttonTooltipPosition]="'left'"
                   (click)="onCloseCancel($event)">
        <svg class="popup__close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </app-button-icon>
    </div>
    <mat-dialog-content class="popup__body">
      <ng-content select="[popup-body]"></ng-content>
    </mat-dialog-content>
    <mat-dialog-actions class="popup__footer">
      <ng-content select="[popup-footer]"></ng-content>
    </mat-dialog-actions>
  </div>
</div>
