
@import '../../sass/global_variables';
@import '../../sass/global_elements';
@import '../../sass/global_fonts';

.empty-data {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  color: $color__blue--empty;

  &__icon {
    width: 120px;
    fill: $color__blue--empty;
  }

  &__text {
    margin: 0 0 0 15px;
    font-size: 24px;
  }
}

.vehicles {
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__items {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  &__actions {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding-left: 20px;
    margin-left: 20px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 20px;
      bottom: 20px;
      width: 2px;
      background-color: $color__blue--lightest;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 36px;
    margin-bottom: 15px;
    outline: none;
    border-radius: 50%;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $color__blue--lightest;
    }
  }

  &__button-icon {
    position: relative;
    width: 26px;
    height: 26px;
    fill: $color__blue--primary;

    &--delete,
    &--edit {
      width: 20px;
      height: 20px;
    }
  }
}
