<div class="dashboard__vehicles">
  <app-tile class="tile tile--vehicles">
    <h2 class="tile__title tile__title--vehicles" (click)="deselectAllVehicles()">Moja vozila</h2>

    <!-- Element with data -->
    <div *ngIf="isVehicleListEmpty(); else emptyVehicleList" @vehiclesListFadeIn class="vehicles__items">
      <app-vehicle-tile *ngFor="let vehicle of vehicles; let i = index;"
                        @vehicleFadeIn
                        [id]="'vehicleID_' + i"
                        [ngClass]="{'selected': selectedVehicle === vehicle}"
                        [vehicleID]="vehicle.vehicleId"
                        [vehicleBrand]="vehicle.vehicleBrand"
                        [vehicleName]="vehicle.vehicleName"
                        [vehicleType]="vehicle.vehicleType"
                        [vehicleColor]="vehicle.vehicleColor"
                        (click)="vehicleClickSetSelectedState(vehicle, i)"></app-vehicle-tile>
    </div>

    <!-- Element without data-->
    <ng-template #emptyVehicleList>
      <app-empty-data [emptyDataType]="emptyDataType"
                      [emptyDataButtonText]="emptyDataButtonText"
                      [emptyDataText]="emptyDataText"
                      [emptyDataIcon]="emptyDataIcon"
                      (clicked)="openAddVehicleDialog()"></app-empty-data>
    </ng-template>

    <div *ngIf="isVehicleListEmpty()" class="vehicles__actions">
      <button *ngIf="isSelectedVehicle"
              @vehicleActionDeleteFadeIn
              matTooltip="Odstrani vozilo '{{selectedVehicle.vehicleBrand}} {{selectedVehicle.vehicleName}}'"
              matTooltipPosition="left"
              class="vehicles__button vehicles__button--just-icon button button--just-icon"
              (click)="deleteVehicle(selectedVehicle._id)">
        <svg class="vehicles__button-icon vehicles__button-icon--delete" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/><path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </button>
      <button class="vehicles__button vehicles__button--just-icon button button--just-icon"
              matTooltipPosition="left"
              matTooltip="Dodaj novo vozilo"
              (click)="openAddVehicleDialog()">
        <svg class="vehicles__button-icon vehicles__button-icon--add" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </button>
      <button *ngIf="isSelectedVehicle"
              @vehicleActionEditFadeIn
              matTooltip="Uredi vozilo '{{selectedVehicle.vehicleBrand}} {{selectedVehicle.vehicleName}}'"
              matTooltipPosition="left"
              class="vehicles__button vehicles__button--just-icon button button--just-icon"
              (click)="openEditVehicleDialog(selectedVehicle._id)">
        <svg class="vehicles__button-icon vehicles__button-icon--edit" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </button>
    </div>
  </app-tile>

  <app-tile class="tile tile--default"
            [tileTitle]="tileTitleTrips"
            [tileHeadlineAddButtonTooltipText]="tileHeadlineAddButtonTooltipText"
            (clicked)="openAddTripDialog()">
    <app-trips-list></app-trips-list>
  </app-tile>
</div>
