
@import '../../sass/global_variables';
@import '../../sass/elements/button';
@import '../../sass/global_fonts';
@import '../../sass/elements/tile';

@include tile-title-on-left-styling;

.empty-data {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  color: $color__blue--empty;

  &__icon {
    width: 120px;
    fill: $color__blue--empty;
  }

  &__text {
    margin: 0 0 0 15px;
    font-size: 24px;
  }
}

.vehicles {
  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__number {
    display: block;
    font-size: 16px;
  }

  &__items {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  &__actions {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding-left: 20px;
    margin-left: 20px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 20px;
      bottom: 20px;
      width: 2px;
      background-color: $color__blue--lightest;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 36px;
    height: 36px;
    margin-bottom: 15px;
    outline: none;
    border-radius: 50%;
    transition: background-color 200ms ease-in-out;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

:host-context(.dark-theme) {
  .tile.tile--title-top .tile__headline {
    border-color: #262647;
  }

  .tile.tile--title-left .tile__title,
  .tile__title.tile__title--title-left {
    color: $color__white--90;

    &::before {
      background-color: #262647;
    }
  }

  .vehicles__actions {
    &::before {
      background-color: #262647;
    }
  }
}

@media only screen and (max-width: 890px) {
  .tile__title--vehicles {
    display: none;
  }
}

@media only screen and (max-width: 770px) {
  .vehicles__items {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
  }

  .tile.tile--vehicles {
    height: unset;
    padding: 0;
  }

  .vehicles__actions {
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-bottom: 5%;

    &::before {
      content: '';
      left: 5%;
      bottom: 0;
      top: unset;
      right: 5%;
      width: auto;
      height: 2px;
      background-color: #F4F7FC;
    }
  }

  .vehicles__button {
    width: 33.33%;
    height: 70px;
    margin-bottom: 0;
    padding: 5%;
    border-radius: 0;
  }
}

@media only screen and (max-width: 576px) {
  .vehicles__actions {
    margin-bottom: 0;
    margin-top: 15%;

    &::before {
      bottom: unset;
      top: 0;
    }
  }
}
