@import '../../sass/global_variables';
@import '../../sass/elements/button';
@import '../../sass/elements/forms';

.trip {
  display: flex;
  flex-direction: row;
  color: $color__blue--primary;

  &__headline {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $color__blue--light-2;
  }

  &__headline-left {
    display: flex;
  }

  &__go-back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
  }

  &__go-back-icon {
    width: 32px;
    height: 32px;
    fill: $color__blue--primary;
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 0;
    margin-left: 15px;
    width: 12px;

    &--active {
      .trip__status-icon {
        background-color: #8BCF47;
      }
    }
  }

  &__status-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid $color__blue--primary;
  }

  &__id-tag {
    font-size: 24px;
  }

  &__id-tag-string {
    @include font-titillium-semibold;
    color: $color__pink--primary;
  }

  &__actions {
    display: flex;
  }

  &__actions-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    cursor: pointer;
  }

  &__actions-item-svg {
    fill: $color__blue--primary;
  }

  &__main-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__destinations {
    @include font-titillium-semibold;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    font-size: 40px;
    color: $color__blue--primary;
  }

  &__location {
    display: flex;
    flex-grow: 1;
    white-space: nowrap;

    &--end {
      justify-content: flex-end;
      text-align: right;
    }
  }

  &__location-dots {
    @include font-titillium-semibold;
    display: flex;
    position: relative;
    top: 7px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 26px;
    overflow: hidden;
    color: $color__blue--light;

    &::before {
      display: flex;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: clip;
      content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .';
    }
  }

  &__date-time {
    display: flex;
    margin-top: 20px;
    font-size: 20px;
  }

  &__date,
  &__time {
    display: flex;
    flex-direction: row;
  }

  &__time {
    margin-left: 30px;
  }

  &__date-icon,
  &__time-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  &__graphics {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__vehicle {
    display: flex;
    flex-grow: 1;
  }

  &__vehicle-seats {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  &__bottom-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 118px;
    padding-top: 44px;
  }

  &__bottom-divider {
    position: absolute;
    top: 0;
    left: -30px;
    right: -30px;
    height: 14px;
    background-image: url("/../../../assets/icons/icon-price-divider.svg");
    background-size: contain;
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }

  &__price-container {
    display: flex;
    flex-direction: column;
  }

  &__price {
    @include font-titillium-semibold;
    font-size: 50px;
    line-height: 1;
  }
}

.form__input--join-trip {
  width: 300px;
}

.form__input--join-this-trip {
  display: flex;
  flex-direction: column;
}

.join-this-trip {
  &__options {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-icon {
      width: 50px;
      height: 50px;
      cursor: pointer;

      &--facebook {
        fill: #4267b2;
      }

      &--google {
        fill: #ca3e31;
      }

      &--phone {
        fill: #555;
      }
    }
  }

  &__user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #ddd;
    overflow: hidden;
    margin-right: 15px;
  }

  &__user-url-image {
    width: 100%;
    height: 100%;
  }

  &__user-name {
    font-weight: bold;
  }
}

.end-of-registration {
  display: flex;
  align-items: center;

  &__label {
    margin-left: 15px;
  }
}

.step--final-message {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.step__text {
  margin-left: 15px;
}

.tile {
  &--trip-details {
    width: 60%;
    margin-right: 15px;
  }

  &--trip-map {
    width: 40%;
    margin-left: 15px;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.trip-add-passengers__wizard--last-step {
  width: 100%;
}
