<footer class="footer"
        [ngClass]="{'footer--default': footerStyle === 'default', 'footer--white': footerStyle === 'white', 'dark-theme': darkModeActivated}">
  <app-content [withPaddingTop]="false">
    <div class="footer__copyright">
      Avtorske pravice {{currentYear}} &#169; <span class="logo">Napolni<span class="logo--pink">moj</span>avto</span>
    </div>
    <ul class="footer__menu">
      <!--<li class="footer__menu-item link">Pogosto zastavljena vprašanja</li>-->
      <li class="footer__menu-item link" routerLink="/izjava-o-zasebnosti" routerLinkActive="footer__menu-item--active">Izjava o zasebnosti</li>
      <li class="footer__menu-item link" routerLink="/informacije-o-strani" routerLinkActive="footer__menu-item--active">Informacije o tej strani</li>
    </ul>
  </app-content>
</footer>