@import '../../sass/global_variables';

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-top: 10px;
  font-size: 13px;

  &--default {
    color: $color__blue--primary;
  }

  &--white {
    color: $color__white--100;
  }

  &.dark-theme {
    color: $color__white--90;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }

  &__menu {
    display: flex;
    margin: 0 -15px 0 0;
    padding: 0;

    li {
      float: left;
      list-style: none;
      padding: 5px 15px;
      margin: 0 0 0 20px;
      cursor: pointer;

      &:hover {
        color: $color__pink--primary;
      }
    }
  }
}

.logo {
  @include font-titillium-semibold;

  &--pink {
    color: $color__pink--primary;
  }
}

@media only screen and (max-width: 760px) {
  .footer__menu {
    margin-top: 10%;
    flex-direction: column;

    li {
      margin-left: 0;
      margin-bottom: 12%;
      padding: 0;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
