<app-dialog>
  <div class="popup__header">
    <span popup-headline>Deli potovanje z drugimi</span>
  </div>

  <div popup-body class="share-my-trip__body">
    <div class="share-my-trip__link"
        [appCopyClipboard]="'test'"
        (click)="copyToClipboard($event)">
      <p class="share-my-trip__link-text">{{currentDomainName}}{{currentURL}}</p>
    </div>
  </div>

  <div popup-footer class="share-my-trip__footer">
    <button mat-raised-button class="button button--default">Prekliči</button>
    <button mat-raised-button class="button button--primary">Shrani spremembe na vozilu</button>
  </div>
</app-dialog>
