<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>

      <p class="text-center">Please enter your email address to request a password reset.</p>

      <div class="form__input">
        <mat-form-field [floatLabel]="'never'"  class="form__field">
          <input matInput type="email" class="formControl" placeholder="Email" #passwordResetEmail required>
        </mat-form-field>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <button type="button" mat-raised-button class="button button--default" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Go back to ? <span class="redirect" routerLink="/prijava">Log In</span></span>
    </div>

  </div>
</div>
