<div class="user-menu__wrapper">
  <div class="user-menu__background" [@userMenuBackgroundFadeIn]="userMenuVisibility"></div>
  <div class="user-menu__content" [@userMenuContentFadeIn]="userMenuVisibility">
    <div *ngIf="authService.userData as user" (click)="clickUserMenuVisibility()" class="user-menu__profile" routerLink="/uporabnik/{{userName | lowercase}}">
      <div class="user-menu__avatar" [class.header__avatar--default]="!user.photoURL">
        <div class="user-menu__avatar-wrapper">
          <img class="user-menu__avatar-image" src="{{(user.photoURL) ? user.photoURL : '/assets/icons/icon-user.svg'}}" alt="{{user.displayName}}">
        </div>
      </div>
      <div class="user-menu__profile-text">
        <div class="user-menu__profile-item">{{user.displayName}}</div>
        <div class="user-menu__profile-item">{{user.email}}</div>
      </div>
    </div>
    <div class="user-menu__item user-menu__item--menu"
         (click)="clickUserMenuVisibility()"
         routerLinkActive="user-menu__item--active"
         routerLink="/uporabnik/{{userName | lowercase}}">Uporabniški profil</div>
    <div class="user-menu__item user-menu__item--menu">
      <mat-slide-toggle
          class="user-menu__slide-toggle"
          [checked]="slideToggleChecked"
          (change)="isDarkModeActivated()">
        Temni način
      </mat-slide-toggle>
    </div>
    <div class="user-menu__item user-menu__item--menu" (click)="clickUserMenuVisibility()" routerLink="/uporabnik/{{userName | lowercase}}">Potrebuješ pomoč?</div>
    <div class="user-menu__item user-menu__item--menu" (click)="userMenuSignOut()" routerLink="/uporabnik/{{userName | lowercase}}">Odjava</div>
  </div>
</div>
