@import '../../sass/global_variables';

$header__background-color--dark-theme: #1c1235;
$header-user-wrapper__hover-background--dark-theme: rgba(15, 7, 35, 0.7);

$header-user-avatar__border: 2px solid $color__default-shadow;
$header-user-avatar__border--dark-theme: 2px solid rgba(15, 7, 35, 1);

:host {
  display: block;
  position: absolute;
  top: 56px;
  left: 50%;
  width: 1200px;
  height: 100%;
  transform: translateX(-50%);
}

.user-menu {
  &__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 0;

    &.dark-theme {
      .user-menu__background {
        background-color: $header__background-color--dark-theme;
        box-shadow: 0 0 12px $color__default-shadow--dark-theme;
      }

      .user-menu__profile-text,
      .user-menu__item {
        color: $color__white--90;
      }

      .user-menu__item--menu {
        &:hover {
          background-color: $header-user-wrapper__hover-background--dark-theme;
        }
      }

      .user-menu__avatar {
        &::before {
          border: $header-user-avatar__border--dark-theme;
        }
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color__white--100;
    box-shadow: 0 0 12px $color__default-shadow;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transform-origin: top;
  }

  &__slide-toggle {
    width: 100%;
  }

  &__content {
    position: relative;
  }

  &__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-bottom: 17px;
    margin: 10px 25px;
    cursor: pointer;
    outline: none;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $color__default-shadow;
    }

    &:hover {
      .user-menu__avatar {
        &::before {
          bottom: -1px;
          left: -1px;
          right: -1px;
          top: -1px;
          border: 3px solid $color__blue--primary;
        }
      }
    }
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      border-radius: 50%;
      border: $header-user-avatar__border;
      transition: top 200ms ease-in-out, bottom 200ms ease-in-out, left 200ms ease-in-out, right 200ms ease-in-out, border 200ms ease-in-out;
    }

    &--default {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color__blue--primary;
      border-width: 0;

      .user-menu__avatar-name {
        color: white;
      }
    }

    &-image {
      position: absolute;
      left: 50%;
      top: 50%;
      width: auto;
      height: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &__avatar-image-wrapper {
    display: flex;
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar-name {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
  }

  &__item {
    position: relative;
    padding: 7px 25px;
    font-size: 14px;

    &--menu {
      cursor: pointer;

      &:hover {
        background-color: rgba(207, 216, 232, 0.3);
      }
    }

    &--active {
      color: $color__pink--primary;

      &:hover {
        color: $color__pink--primary;
      }
    }
  }
}

@media only screen and (max-width: 1200px){
  :host {
    width: 90%;
  }
}
