@import 'sass/global_variables';

$color--main-background: $color__blue--lighter;

:host,
.app__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app__wrapper {
  background-color: $color--main-background;

  &.dark-theme {
    background-color: #1e1e2f;
  }
}
