<ng-content></ng-content>
<div *ngIf="visibility"
     class="preloading-spinner"
     @preloadingAnimation
     [ngClass]="{'dark-theme': darkModeActivated, 'preloading-spinner--without-bg': !backgroundVisible}">
  <div class="preloading-spinner__wrapper">
    <mat-progress-spinner class="preloading-spinner__loader"
                          [mode]="mode"
                          [color]="colorType"
                          [diameter]="diameter"
                          [strokeWidth]=[strokeWidth]></mat-progress-spinner>
  </div>
</div>
