$vehicles-items__width--full-size: 14.2857142857%;

:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  &.vehicles__items {
    .preloading-spinner {
    }
  }

  &.vehicles__items--full-size {
    .preloading-spinner {
      display: grid;
      grid-template-columns: $vehicles-items__width--full-size $vehicles-items__width--full-size $vehicles-items__width--full-size $vehicles-items__width--full-size $vehicles-items__width--full-size $vehicles-items__width--full-size $vehicles-items__width--full-size;
      max-height: 960px;
      overflow: auto;
    }
  }
}

.preloading-spinner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
  }
}