@import 'app/sass/global_variables.scss';
@import 'app/sass/global_fonts.scss';

$color--main-background: $color__blue--light;

::-moz-selection {
  background-color: $color__pink--primary;
  color: white;
}

::selection {
  background-color: $color__pink--primary;
  color: white;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  @include font-titillium-regular;
  margin: 0;
  background-color: $color--main-background;
  box-sizing: border-box;
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 4, 60, 0.4);
}
