@import 'app/sass/global_variables';
@import 'app/sass/global_fonts';

$color--main-background: $color__blue--lighter;

::-moz-selection {
  background-color: $color__pink--primary;
  color: white;
}

::selection {
  background-color: $color__pink--primary;
  color: white;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  @include font-titillium-regular;
  margin: 0;
  background-color: $color--main-background;
  box-sizing: border-box;
}

.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 4, 60, 0.4);
}

.mat-stepper-horizontal-line {
  display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 5px 0;
  border-top: 0  none;
}

:host-context(.dialog-wizard) {
  .mat-horizontal-content-container {
    padding: 0;
  }
}
