@import '../../sass/global_variables';

.logo {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;

  &__pink {
    color: $color__pink--primary;
  }

  &--default {
    color: $color__blue--primary;
  }

  &--white {
    color: $color__white--100;
  }
}
