@import '../../sass/global_variables';

:host {
  transition: transform 200ms ease-in-out;
  outline: none;

  &:hover {
    transform: scale(0.95);
  }
}

.logo {
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: font-size 200ms ease-in-out;

  &__pink {
    color: $color__pink--primary;
  }

  &--default {
    color: $color__blue--primary;
  }

  &--white {
    color: $color__white--100;
  }
}

@media only screen and (max-width: 420px){
  .logo {
    font-size: 16px;
  }
}
