@import '../../sass/global_variables';
@import '../../sass/global_fonts';

$tile__padding: 20px;
$tile__padding--trip: 30px;
$tile__padding--trip-map: 10px;
$tile__shadow: 0 2px 5px 0 rgba(0, 19, 168, .1);
$tile__shadow--hover: 0 4px 19px 0 rgba(0, 19, 168, .05);
$tile__background-color: $color__white--100;
$tile__border-radius: 3px;

:host {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  box-shadow: $tile__shadow;
  border-radius: $tile__border-radius;

  &.tile--default {
    .tile__title {
      margin-top: 0;
    }
  }

  &.tile--vehicles {
    justify-content: center;

    .tile__wrapper {
      height: 180px;
    }

    .tile__content {
      align-items: center;
      height: 100%;
    }
  }

  &.tile--trip {
    .tile__wrapper {
      padding: $tile__padding--trip;
    }

    .tile__content {
      flex-direction: column;
      height: 100%;
    }
  }

  &.tile--trip-map {
    .tile__wrapper {
      padding: $tile__padding--trip-map;
    }
  }
}

.tile {
  &__wrapper {
    height: 100%;
    padding: $tile__padding;
    background-color: $tile__background-color;

    &.dark-theme {
      background-color: #26293b;
    }
  }

  &__headline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid $color__blue--lighter;
  }

  &__title {
    @include font-titillium-semibold;
    display: flex;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 20px;
    font-size: 22px;
    color: $color__blue--primary;

    &--default {
      margin-top: 0;
    }

    &--vehicles {
      padding-right: 20px;
      margin-right: 20px;

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: -20px;
        bottom: -20px;
        width: 2px;
        background-color: $color__blue--lighter;
      }
    }
  }

  &__headline-actions {
    display: flex;
    height: 42px;
  }

  &__headline-button {
    padding: 0;
    width: 36px;
    height: 36px;
    background: none;
    border: 0 none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: rgba(207, 216, 232, 0.3);

      .tile__headline-button-icon {
        fill: $color__pink--primary;
      }
    }
  }

  &__headline-button-icon {
    width: 26px;
    height: 26px;
  }

  &__content {
    display: flex;
    width: 100%;
  }
}

@media only screen and (max-width: 770px) {
  .tile__content {
    flex-direction: column-reverse;
  }
}
