<div *ngIf="tileTitle || tileTitleClickFunction" class="tile__headline">
  <h2 *ngIf="tileTitle" class="tile__title">
    {{tileTitle}}
  </h2>
  <div class="tile__headline-actions">
    <button class="tile__headline-button"
            matTooltip="{{tileHeadlineAddButtonTooltipText}}"
            matTooltipPosition="left"
            (click)="clickFunction()">
      <svg class="tile__headline-button-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </button>
  </div>
</div>
<div class="tile__content">
  <ng-content></ng-content>
</div>
