<header class="header" [@headerFadeIn]>
  <div class="header__background"></div>
  <div class="header__wrapper">
    <div class="header__left">
      <div routerLink="/nadzorna-plosca" class="header__logo">
        Napolni<span class="header__logo-pink">moj</span>avto
      </div>
      <app-navigation-main *ngIf="authService.isLoggedIn"></app-navigation-main>
    </div>
    <div class="header__right">
      <div *ngIf="authService.isLoggedIn; else loggedOut" class="header__user">
        <div *ngIf="authService.userData as user" class="header__user-wrapper" (click)="setUserMenuVisibility()">
          <div class="header__avatar" [class.header__avatar--default]="!user.photoURL">
            <img class="header__avatar-image" src="{{(user.photoURL) ? user.photoURL : '/assets/icons/icon-user.svg'}}" alt="{{user.displayName}}">
          </div>
          <div *ngIf="user.displayName" class="header__username">{{user.displayName}}</div>
          <div *ngIf="user.email && !user.displayName" class="header__email">{{user.email}}</div>
        </div>
      </div>

      <div *ngIf="clickActiveState" class="user-menu">
        <div class="user-menu__background" [ngStyle]="{'background-image': 'url(' + authService.userData.photoURL + ')'}"></div>
        <div class="user-menu__item">{{authService.userData.displayName}}</div>
        <div class="user-menu__item">{{authService.userData.email}}</div>
        <div class="user-menu__item user-menu__item--menu" routerLink="/user">Uporabniški profil</div>
        <div class="user-menu__item user-menu__item--menu" (click)="authService.SignOut()" routerLink="/user">Odjava</div>
      </div>
      <ng-template #loggedOut>
        <div class="header__register" routerLink="/prijava">
          Prijava
        </div>
      </ng-template>
    </div>
  </div>
</header>
