@import '../../sass/global_variables';

$header__background-color: $color__white--100;
$header__background-color--dark-theme: #0e0e1c;
$header__shadow-color: rgba(48, 26, 138, .2);

:host {
  position: fixed;
  height: 56px;
  width: 100%;
  z-index: 9;

  &.dark-theme {
    .header__background {
      background-color: $header__background-color--dark-theme;
    }

    .header__username,
    .header__logo {
      color: $color__white--100;
    }

    .header__create-button-icon {
      fill: $color__white--100;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: $color__blue--primary;
  font-weight: bold;

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $header__background-color;
    box-shadow: 0 0 12px $header__shadow-color;
    transition: background-color 250ms ease-in-out;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }

  &__left {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }

  &__right {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }

  &__user-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 7px 14px;
    border-radius: 4px;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: rgba(207, 216, 232, 0.3);
    }
  }

  &__avatar {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $color__white--70;
    margin-right: 10px;
    overflow: hidden;

    &--default {
      .header__avatar-image {
        width: 32px;
        height: 32px;
        margin-top: 2px;
      }
    }

    &-image {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 24px;
      height: 24px;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--open {
      .header__user-wrapper {
        background-color: rgba(207, 216, 232, 0.3);
      }
    }
  }

  &__username {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__register {
    cursor: pointer;
  }

  &__create {
    display: flex;
    align-items: center;
    position: relative;
    width: 280px;
    margin-right: 10px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 5px;
      bottom: 5px;
      width: 2px;
      background-color: $color__blue--lightest;
    }
  }

  &__create-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__create-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    padding: 0;
    background: none;
    border: 0 none;
    cursor: pointer;
    border-radius: 50%;
    outline: none;
    transform: rotate(0);
    transition: background-color 200ms ease-in-out, transform 400ms ease-in-out;

    &:hover {
      background-color: rgba(207, 216, 232, 0.3);

      .header__create-button-icon {
        fill: $color__pink--primary;
      }
    }

    &--rotated {
      transform: rotate(-45deg);
    }
  }

  &__create-button-icon {
    width: 26px;
    height: 26px;
  }

  &__create-content {
    display: flex;
  }

  &__create-content-item {
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 4px;
    color: $color__pink--primary;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: rgba(207, 216, 232, 0.3);
    }
  }
}

@media only screen and (max-width: 890px) {
  .header__wrapper {
    width: 90%;
  }

  .header__create {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .header__username {
    display: none;
  }

  .header__avatar {
    margin-right: 0;
  }
}
