$header__background-color: #fff;
$header__shadow-color: rgba(38, 42, 77, .1); // #262A4D

:host {
  position: relative;
  height: 56px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: $header__background-color;
    box-shadow: 0 0 12px $header__shadow-color;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }

  &__left {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }

  &__logo {
  }

  &__menu {
    display: flex;

    li {
      padding: 10px 20px;
      list-style: none;

      &:hover {
        background: #ccc;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }

  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &-image {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      border: #ccc;
      border: 1px solid #ddd;
      padding: 1px;
      background-color: white;
    }
  }
}