@import '../../sass/global_variables.scss';

$header__background-color: #fff;

:host {
  position: relative;
  height: 56px;
  width: 100%;
  z-index: 9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: $color__blue--primary;
  font-weight: bold;

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $header__background-color;
    box-shadow: 0 0 12px $header__shadow-color;
  }

  &__user-menu-wrapper {
    position: absolute;
    width: 1200px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }

  &__left {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }

  &__logo {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

    &-pink {
      color: $color__pink--primary;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }

  &__user-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 7px 14px;
    border-radius: 4px;
    margin-right: -14px;
    transition: background-color 200ms ease-in-out;

    &:hover {
      background-color: rgba(207, 216, 232, 0.3);
    }
  }

  &__avatar {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid $color__white--70;
    margin-right: 10px;
    overflow: hidden;

    &--default {
      .header__avatar-image {
        width: 32px;
        height: 32px;
        margin-top: 2px;
      }
    }

    &-image {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 22px;
      height: 22px;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__register {
    cursor: pointer;
  }
}
